
@media (min-width:600px) {
  .question {
    padding: 0px;
    justify-content: center;
    align-content: center;
    display: flex;
    margin-bottom: -1px;
    height: 16px;
    width: 16px;
    cursor: pointer;
  }
}

.button {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: #cc6600;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  background-color: #ff9933;
  border-radius: 6px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
}

.button:hover {
  background-color: #ff8d1c;
  color: #ffffff;
}

.app-info-form-label {
  display: flex;
  gap: 10px;
  align-items: center;
}

/* Explanation popup styles */
.app-info-form-explanation {
  position: fixed;
  transform: translateX(-50%) translateY(-10px);
  padding: 10px 20px;
  border-radius: 6px;
  background: #363636;
  font-size: 14px;
  border: 1px solid rgb(78, 78, 78);
  pointer-events: none;
  transition: opacity .2s ease-out, transform .2s ease-out;
  opacity: 0;
}

.app-info-form-explanation.show {
  opacity: 1;
  transform: translateX(-50%) translateY(0px);
}

.app-info-form-explanation::before, .app-info-form-explanation::after {
  content: "";
  display: block;
  background-color: #363636;
  position: absolute;
  top: -10px;
  width: 10px;
  height: 10px;
  z-index: 1;
  box-sizing: border-box;
}

.app-info-form-explanation::before {
  border-left: 2px solid rgb(78, 78, 78);
  left: 50%;
  transform: translateX(-50%) skewX(-45deg);
  clip-path: polygon(0 0, 100% 100%, 0 100%);
}

.app-info-form-explanation::after {
  left: 50%;
  border-right: 2px solid rgb(78, 78, 78);
  transform: translateX(-50%) skewX(45deg);
  clip-path: polygon(100% 0, 100% 100%, 0 100%);
}

/* Question container */
.app-info-form-question {
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.app-info-form-question:not(:last-of-type) {
  margin-bottom: 14px;
}

@media screen and (max-width: 996px) {
  .app-info-form-question {
    flex-flow: column;
    align-items: stretch;
    gap: 5px;
  }
}