.app-info-form-question-container {
  width: 100%;
  display: flex;
  border-radius: 0.375rem;
  padding: 1rem;
  margin-bottom: 1.25rem;
  color: #ffffff;
  gap: 0.625rem;
  background: rgb(33, 33, 33);
  border: 0.0625rem solid rgb(51, 51, 51);
}

.app-info-form-container {
  border: 0.0625rem solid rgb(51, 51, 51);
  color: white;
  border-radius: 0.375rem;
}

.question {
  padding: 0rem;
  justify-content: center;
  align-content: center;
  display: flex;
  margin-bottom: -0.0625rem;
  height: 1rem;
  width: 1rem;
  cursor: pointer;
}

.button {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  border-width: 0.0625rem;
  border-style: solid;
  border-color: #cc6600;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  background-color: #ff9933;
  border-radius: 0.375rem;
  box-shadow: 0 0 0.375rem 0 rgba(0, 0, 0, 0.16);
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
}

.button:hover {
  background-color: #ff8d1c;
  color: #ffffff;
}

.app-info-form-label {
  display: flex;
  gap: 0.625rem;
  align-items: center;
  height: 2.125rem;
}

/* Explanation popup styles */
.app-info-form-explanation {
  position: fixed;
  -webkit-transform: translateX(-50%) translateY(-0.625rem);
  -moz-transform: translateX(-50%) translateY(-0.625rem);
  -ms-transform: translateX(-50%) translateY(-0.625rem);
  -o-transform: translateX(-50%) translateY(-0.625rem);
  transform: translateX(-50%) translateY(-0.625rem);
  padding: 0.625rem 1.25rem;
  border-radius: 0.375rem;
  background: #363636;
  font-size: 0.875rem;
  border: 0.0625rem solid rgb(78, 78, 78);
  pointer-events: none;
  transition: opacity .2s ease-out, transform .2s ease-out;
  opacity: 0;
}

.app-info-form-explanation.show {
  opacity: 1;
  -webkit-transform: translateX(-50%) translateY(0rem);
  -moz-transform: translateX(-50%) translateY(0rem);
  -ms-transform: translateX(-50%) translateY(0rem);
  -o-transform: translateX(-50%) translateY(0rem);
  transform: translateX(-50%) translateY(0rem);
}

.app-info-form-explanation::before, .app-info-form-explanation::after {
  content: "";
  display: block;
  background-color: #363636;
  position: absolute;
  top: -0.625rem;
  width: 0.625rem;
  height: 0.625rem;
  z-index: 1;
  box-sizing: border-box;
}

.app-info-form-explanation::before {
  border-left: 0.125rem solid rgb(78, 78, 78);
  left: 50%;
  -webkit-transform: translateX(-50%) skewX(-45deg);
  -moz-transform: translateX(-50%) skewX(-45deg);
  -ms-transform: translateX(-50%) skewX(-45deg);
  -o-transform: translateX(-50%) skewX(-45deg);
  transform: translateX(-50%) skewX(-45deg);
  clip-path: polygon(0 0, 100% 100%, 0 100%);
}

.app-info-form-explanation::after {
  left: 50%;
  border-right: 0.125rem solid rgb(78, 78, 78);
  -webkit-transform: translateX(-50%) skewX(45deg);
  -moz-transform: translateX(-50%) skewX(45deg);
  -ms-transform: translateX(-50%) skewX(45deg);
  -o-transform: translateX(-50%) skewX(45deg);
  transform: translateX(-50%) skewX(45deg);
  clip-path: polygon(100% 0, 100% 100%, 0 100%);
}

/* Question container */
.app-info-form-question {
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  gap: 0.625rem;
}

.app-info-form-question:not(:last-of-type) {
  margin-bottom: 0.875rem;
}

/* Question input field */
.app-info-form-field-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-width: calc(100% - 11.25rem);
  justify-content: center;
}

@media screen and (max-width: 1242px) {
  .app-info-form-field-container {
    max-width: 60%;
  }
}

.app-info-form__current-values-preview {
  margin-bottom: 1.5rem;
}

.app-info-form__current-values-preview pre {
  max-width: 33.8125rem;
  width: 100%;
  border: 0.0625rem solid rgb(78, 78, 78);
  background-color: rgb(54, 54, 54);
  padding: 1rem;
  border-radius: 0.375rem;
  font-size: 0.9375rem;
}

@media screen and (max-width: 996px) {
  .app-info-form-question {
    flex-flow: column;
    align-items: stretch;
    gap: 0.3125rem;
  }

  .app-info-form-submitted-container {
    width: calc(100% - 5.5rem);
  }
  
  .app-info-form-explanation {
    max-width: 18.75rem;
  }

  .app-info-form-field-container {
    max-width: 100%;
  }
}