.navbarHideable {
  transition: transform var(--ifm-transition-fast) ease;
}

.navbarHidden {
  transform: translate3d(0, calc(-100% - 2px), 0);
}

.navbarTabs {
  padding: 0 24px;
  margin-top: auto;
  list-style: none;
  box-shadow: none;
  background-color: var(--gray-a3);

  // Hide tabs on mobile screens
  @media screen and (max-width: 996px) {
    display: none;
  }
}

.navbarTab {
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;

  span {
    font-weight: bold !important;
  }

  &[data-active] {
    color: var(--ifm-link-hover-color);
  }
}

.navbarCustom {
  border-bottom: 1px solid var(--ifm-toc-border-color);
  display: flex;
  flex-direction: column;
  padding: 20px 0 0 0;
}
