.menuExternalLink {
	align-items: center;
}

.menuLinkCustom {
	font-size: 14px;
	font-weight: normal;
}

.menuLinkActive {
	// font-weight: bold;
	// Custom Styles
	color: var(--orange-11);
	&:hover {
		color: var(--orange-11);
	}
}

.menu__link--sublist-caret:after {
	background: var(--ifm-menu-link-sublist-icon) 50% / 1.5rem 1.5rem;
}
