.menu__main-category-title {
	text-transform: uppercase;
	line-height: 20px;
	font-weight: bold;
	font-size: 14px;

	padding: var(--ifm-menu-link-padding-vertical)
		var(--ifm-menu-link-padding-horizontal);
}

.menu__list-item {
	&[data-is-main-category="true"]:not(:first-child) {
		margin-top: var(--space-1);
	}

	color: var(--ifm-menu-color);
	cursor: pointer;

	&[data-is-collapsed="false"] {
		color: var(--gray-12);
	}

	&:hover {
		color: var(--gray-12);
	}
}

.menu__list-item-collapsible {
	.menu__link--active {
		color: var(--gray-12);
	}
}

.menu__main-category {
	display: flex;
	flex-direction: row;

	.menu__caret {
		padding: 0;
		margin-left: auto;
		margin-right: 0.75rem;

		&:hover {
			background: transparent;
		}
	}
}

.menu__caret::before {
	background-size: 1.3rem 1.3rem;
}

.menu__link--sublist-caret::after {
	background-size: 1.3rem 1.3rem;
}

.theme-doc-sidebar-item-category-level-3 {
	font-size: 14px;
	font-weight: normal;
	line-height: 1.25;
}
