.reference-card {
	&:hover {
		text-decoration: none;
		box-shadow: var(--shadow-2);
	}

	a {
		color: var(--gray-12);
	}

	a:hover {
		color: var(--orange-11);
		text-decoration: none;
	}

	&__avatar {
		img {
			color: var(--gray-11);
			margin: 0;
		}
	}

	p {
		margin: 0;
	}
}
