.reference-card {
  --base-card-surface-hover-box-shadow: 0 0 0 1px var(--orange-a7);
  --ifm-link-hover-decoration: none;
  @supports (color: color-mix(in oklab, white, black)) {
    --base-card-surface-hover-box-shadow: 0 0 0 1px color-mix(in oklab, var(--orange-a7), var(--orange-7) 25%);
  }

  &:hover {
    --card-background-color: rgba(255, 153, 51, 0.05);

    .reference-card__description {
      color: var(--gray-12);
    }
  }

  a {
    color: var(--gray-12);
  }

  a:hover {
    color: var(--orange-11);
  }

  &__prefetch-link {
    display: none;
  }

  &__avatar {
    img {
      object-fit: contain;
      color: var(--gray-11);
      margin: 0;
    }
  }

  p {
    margin: 0;
  }

  &__grid-helper {
    @media (max-width: 1280px) {
      display: none;
    }
  }
}
