button {
  all: unset;
}

.accordion {
  border-radius: 6px;
  width: 100%;
  background-color: var(--mauve-6);
  box-shadow: 0 2px 10px var(--black-a4);

  p,
  h3 {
    margin: 0;
  }

  &__item {
    border-bottom: 1px solid var(--gray-6);

    &:last-child {
      border-bottom: none;
    }
  }

  &__trigger {
    &[data-state="open"] > .accordion__icon {
      transform: rotate(180deg);
    }
  }

  &__icon {
    transition: transform 300ms cubic-bezier(0.87, 0, 0.13, 1);
    svg {
      width: 20px;
      height: 20px;
    }
  }

  &__content {
    &[data-state="open"] {
      animation: slideDown 300ms cubic-bezier(0.87, 0, 0.13, 1);
    }

    &[data-state="closed"] {
      animation: slideUp 300ms cubic-bezier(0.87, 0, 0.13, 1);
    }

    .rt-BaseTabList,
    .rt-TabsList {
      border-radius: 0 !important;
      &::before {
        border-radius: 0 !important;
      }
    }
    .rt-TabsRoot {
      // There's an additional spacing that gets created
      // probably because of the hidden content
      margin-bottom: -15px !important;
    }
  }
}

@keyframes slideDown {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
    opacity: 1;
  }
  to {
    opacity: 0;
    height: 0;
  }
}
