.radio-card-item {
	--radio-cards-item-background-color: rgba(170, 202, 255, 0.04);
	&[data-state="checked"] {
		--radio-cards-item-background-color: rgba(255, 153, 51, 0.05);
		color: var(--orange-11);

		&::after {
			outline-color: var(--orange-7);
		}
	}
}
