.tab-item {
  img {
    margin: 0 !important;
  }

  /* Drop the margin if the first element is a card*/
  /* Also removes the top border radius from the card so that it blends in with the tabs */
  & > .content-card:first-child,
  .theme-code-block:first-child {
    margin-top: calc(-1 * var(--ifm-leading));
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    &::after {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    &::before {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}
