.st-button {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  border-radius: 0.5rem;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none !important;
  cursor: pointer;

  &:hover {
    transition: opacity 0.2s ease-in-out;
  }

  &:disabled {
    cursor: default;
    background: #ffbf80;
  }
}

.st-button--primary {
  border: 1px solid #ff9933;
  background-color: #ff9933;
  color: #ffffff;
  &:hover {
    background-color: #ff8d1c;
    color: #ffffff;
  }
}

.st-button--light {
  border: 1px solid #ff9933;
  background-color: #ffcc99;
  color: #cc6600;
  &:hover {
    color: #cc6600;
    opacity: 0.8;
  }
}

.st-button--ghost {
  border: 1px solid #ff9933;
  background-color: transparent;
  color: #ff9933;
  &:hover {
    color: #ff9933;
    opacity: 0.8;
  }
}
