.stRecipeTabsContainer {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: auto;
  grid-auto-flow: row dense;
  margin-top: 2.5rem;
  margin-bottom: 5rem; 
}

.stRecipeTabsContainer > a {
  text-decoration: none; 
}

.stRecipeCardContainer {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  grid-column-start: auto;
  grid-row-start: auto;
  text-align: center;
  height: min-content;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  padding: 1rem 1.5rem;
  border: 1px solid #414141;
  background-color: #292929;
}

.stRecipeCardContainer > img {
  position: relative;
  object-fit: cover; 
}

.stRecipeCardContainer > span {
  font-style: normal;
  font-weight: bold;
  margin-bottom: 0.75rem; 
}

.stRecipeCardContainer > p {
  font-style: normal;
  text-decoration: none; 
}

@media screen and (min-width: 768px) {
  .stRecipeCardContainer:last-of-type {
    margin-top: -2.4rem;
    padding-top: 0; 
  } 
}

@media screen and (min-width: 1700px) {
  .stRecipeTabsContainer {
    grid-template-columns: repeat(2, minmax(250px, 1fr)); 
  }
  .stRecipeCardContainer:last-of-type {
    margin-top: -5.5rem;
    padding-top: 0; 
  } 
}

h1 + p {
  size: 1.25rem; }

@media screen and (max-width: 767px) {
  .stRecipeCardContainer > img {
    display: none; 
  }
  .stRecipeCardContainer {
    padding: 1.5rem 1rem;
    text-align: left; 
  } 
}

.stRecipeCardContainer:hover {
  cursor: pointer;
  border: 1px solid #ff9933;
  background-color: rgba(255, 153, 51, 0.02); 
}

.stRecipeCardContainer:hover > span {
  text-decoration: underline; 
}

img[src*="recipe-session.png"] {
  max-width: 60%;
  margin: auto;
  padding: 1rem; 
}