/*
Hide color mode toggle in small viewports
 */
@media (max-width: 996px) {
  .colorModeToggle {
    display: none;
  }
}

.navbarInnerCustom {
  padding: 0 24px;

  @media (max-width: 996px) {
    padding-top: 5px;
  }
}

.navbarLogoContainer {
  @media (max-width: 600px) {
    display: none;
  }
}

.signUpButtonLink {
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}
