.markdown {
  ul {
    list-style: none;
    margin: 0;
    padding-left: var(--space-5);
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
    margin-bottom: var(--space-5);
  }

  ul li {
    margin: 0;
    padding: 0;
    &:before {
      content: "-";
      font-size: 25px;
      color: var(--gray-7);
      margin-top: -9px;
      position: absolute;
      margin-left: calc(-1 * var(--space-5));
    }
  }
}
