.recipe_wrapper {
  display: grid;
  grid-gap: 1em;
}

@media screen and (max-width: 900px) {
  .recipe_wrapper {
    grid-template-columns: 1fr 1fr !important;
  }
}

@media screen and (max-width: 414px) and (orientation: portrait),
  screen and (max-width: 736px) and (orientation: landscape) {
  .recipe_wrapper {
    grid-template-columns: 1fr !important;
  }
}
