.recipe_box {
  display: flex;
  align-items: center;

  background: #232323;
  border: 1px solid #2e2e2e;
  border-radius: 13px;

  padding: 1.5em;

  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  color: #b2b2b2;

  text-decoration: none !important;

  position: relative;
  overflow: hidden;
}

.recipe_box:hover {
  border: 1px solid rgba(255, 153, 51, 0.3);
  color: #b2b2b2 !important;
}

.recipe_box::before {
  content: " ";
  position: absolute;
  border-radius: 100%;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;

  background: #a9a9a9;
  filter: blur(68.5px);
}

.recipe_box__icon_wrapper {
  background: #343434;

  border-radius: 7px;
  padding: 8px;
  height: 4rem;
  width: 4rem;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: 0.75em;
}

.recipe_box.large {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  padding-top: 47px;
}

.recipe_box.large .recipe_box__icon_wrapper {
  margin: 0;
  margin-bottom: 0.75em;
}

@media screen and (min-width: 900px) {
  .recipe_box.large {
    height: 232px;
  }
}
@media screen and (max-width: 900px) {
  .recipe_box.large {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    aspect-ratio: auto;
    padding-top: 24px;
  }

  .recipe_box.large .recipe_box__icon_wrapper {
    margin: 0;
    margin-right: 0.75em;
  }
}

.recipe_box__full_image {
  display: none;
  height: 100%;
  width: 100%;

  justify-content: center;
  align-items: center;

  opacity: 0;

  transition: opacity 100ms linear;
  transition-delay: 100ms;

  position: relative;
}

.recipe_box__full_image img {
  height: 100%;
}

.recipe_box__full_image::before {
  content: "";

  position: absolute;
  bottom: 0;
  left: 0;

  width: 55px;
  height: 52px;
  background: #ec9656;
  filter: blur(68.5px);
}
