.sdk-reference-section {
  &__tooltip-icon {
    color: var(--gray-11);
    width: 16px;
  }
  &__title-container {
    h3 {
      margin: 0;
    }
  }

  &__tooltip {
    p {
      margin: 0;
    }
  }
}
