.st-card {
  display: flex;
  align-items: center;

  background: #232323;
  border: 1px solid #2e2e2e;
  border-radius: 13px;

  padding: 1.5em;

  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  color: #b2b2b2;

  text-decoration: none !important;

  position: relative;
  overflow: hidden;

  transition: all 0.2s ease-in-out;

  &:hover {
    border: 1px solid rgba(255, 153, 51, 0.3);
    color: #b2b2b2 !important;
  }
}

.st-card__icon {
  background: #343434;

  border-radius: 7px;
  padding: 8px;
  height: 4rem;
  width: 4rem;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: 0.75em;
}

.recipe_box::before {
  content: " ";
  position: absolute;
  border-radius: 100%;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;

  background: #a9a9a9;
  filter: blur(68.5px);
}

.st-card__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 260px), 1fr));
  gap: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
