@media (min-width: 997px) {
  .menu {
    flex-grow: 1;
    /*padding: 0.5rem;*/
    padding: 16px 24px;
  }
  @supports (scrollbar-gutter: stable) {
    .menu {
      /*padding: 0.5rem 0 0.5rem 0.5rem;*/
      scrollbar-gutter: stable;
    }
  }

  .menuWithAnnouncementBar {
    margin-bottom: var(--docusaurus-announcement-bar-height);
  }
}
