.markdown {
  ul {
    list-style: none;
    margin: 0;
    padding-left: var(--space-5);
    display: flex;
    flex-direction: column;
    margin-bottom: var(--space-5);
    gap: var(--space-2);
  }

  ul li {
    & > * {
      margin-bottom: calc(var(--space-1) + 5px);
      margin-top: calc(var(--space-1) + 5px);
    }

    & > *:last-child {
      margin-bottom: 0;
    }

    & > *:first-child {
      margin-top: 0;
    }

    margin: 0;
    padding: 0;
    &:before {
      content: "-";
      font-size: 25px;
      color: var(--gray-7);
      margin-top: -9px;
      position: absolute;
      margin-left: calc(-1 * var(--space-5));
    }
    // p {
    //   margin: 0;
    // }
  }
}
