.api-request-card {
  &__accordion-trigger {
    &[data-state="open"] > .api-request-card__accordion-trigger-icon {
      transform: rotate(180deg);
    }
    cursor: pointer;

    &[data-state="open"] {
      border-bottom: 1px solid var(--gray-a6);
    }
  }

  &__accordion-trigger-icon {
    height: 20px;
    width: 20px;
  }
}
