/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #ff9933;
  --ifm-color-primary-dark: #ff8a14;
  --ifm-color-primary-darker: #ff8205;
  --ifm-color-primary-darkest: #d66b00;
  --ifm-color-primary-light: #ffa852;
  --ifm-color-primary-lighter: #ffb061;
  --ifm-color-primary-lightest: #ffc78f;
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme="dark"] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

/* custom styles below */

/* For supertokens.com footer */
#footer-container {
  background-color: rgba(0, 0, 0, 0) !important;
  border-width: 0px;
  border-top-width: 1px;
  border-style: solid;
  border-color: #606770;
}
.footer {
  background-color: rgba(0, 0, 0, 0) !important;
}

.alert--info {
  --ifm-alert-background-color: #89e2ff;
}

.alert--success {
  --ifm-alert-background-color: #8fff8f;
}

.alert--warning {
  --ifm-alert-background-color: #ffe6a2;
}

.markdown a {
  text-decoration: none;
}

.markdown a:hover {
  text-decoration: underline;
}

html[data-theme="dark"] {
  --ifm-background-color: rgb(31, 31, 31);
  --ifm-toc-border-color: rgb(51, 51, 51);

  --ifm-navbar-background-color: rgb(31, 31, 31);
  --ifm-navbar-shadow: none;

  --ifm-pre-border-radius: 0px;
  --ifm-pre-background: rgb(42, 42, 42);
  --ifm-code-background: rgb(42, 42, 42);

  --ifm-scrollbar-track-background-color: transparent;
  --ifm-scrollbar-thumb-background-color: #888;
  --ifm-scrollbar-thumb-hover-background-color: #888;
  --container-box-shadow: 0px 3px 6px rgba(0, 0, 0, .16);

  --ifm-menu-color-background-active: rgb(42, 42, 42);
}

/* font size updates */
html[data-theme="dark"] .markdown h1 {
  font-size: 48px;
  margin: 0 0 48px;
}

html[data-theme="dark"] .markdown h2 {
  font-size: 32px;
  margin: 40px 0 20px;
}

html[data-theme="dark"] .markdown h3 {
  font-size: 24px;
  margin: 30px 0 20px;
}

html[data-theme="dark"] .markdown h4, h5, h6 {
  font-size: 16px;
  margin: 25px 0 20px;
}

html[data-theme="dark"] .markdown p {
  font-size: 16px;
  margin: 0 0 20px;
}

html[data-theme="dark"] .tabs-container p {
  margin: 16px 0px 20px;
}

html[data-theme="dark"] div[role="tabpanel"] .prism-code {
  margin-bottom: 0px;
}

html[data-theme="dark"] div[class^="codeBlockContainer"] {
  box-shadow: var(--container-box-shadow);
  border-radius: 6px;
}

html[data-theme="dark"] .prism-code code {
  font-size: 14px;
  padding: 16px;
  border-radius: 6px;
}

html[data-theme="dark"] code:not([class^="codeBlockLines"]) {
  border: 1px solid rgb(51, 51, 51);
  border-radius: 6px;
  box-shadow: var(--container-box-shadow);
}

html[data-theme="dark"] .markdown hr {
  margin: 5vw 0;
  height: 1px;
  border: none;
  background-color: rgb(51, 51, 51);
}

/* selectors for images directly inside the docs main content */
html[data-theme="dark"] .markdown > img,
html[data-theme="dark"] .markdown > ul > li > img,
html[data-theme="dark"] .markdown > ol > li > img,
/* selectors for images directly inside a section in the docs main content */
html[data-theme="dark"] .markdown > div > img,
html[data-theme="dark"] .markdown > div > ul > li > img,
html[data-theme="dark"] .markdown > div > ol > li > img,
/* selectors for images directly inside tabpanels */
html[data-theme="dark"] .markdown div[role="tabpanel"] > img,
html[data-theme="dark"] .markdown div[role="tabpanel"] > ul > li > img,
html[data-theme="dark"] .markdown div[role="tabpanel"] > ol > li > img {
  border-radius: 6px;
  display: block;
  margin: 40px auto 40px;
  box-shadow: var(--container-box-shadow);
}

html[data-theme="dark"] .markdown ul:not([role="tablist"]),
html[data-theme="dark"] .markdown ol:not([role="tablist"]) {
  margin-bottom: 20px;
}

/* styles for the pagination buttons ( next and previous buttons ) */
html[data-theme="dark"] .pagination-nav__link {
  border-color: rgb(51, 51, 51);
}

html[data-theme="dark"] .pagination-nav__link:hover {
  border-color: #ff9933;
}

/* code blocks background color */
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: rgb(42, 42, 42) !important;
  border-radius: 6px;
}

html[data-theme="dark"] .docusaurus-highlight-code-line {
  background-color: rgb(51, 51, 51);
}

html[data-theme="dark"] div[class^="codeBlockContainer"] div[class^="codeBlockTitle"] + div[class^="codeBlockContent"] .prism-code {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

html[data-theme="dark"] div[class^="codeBlockContainer"] > div[class^="codeBlockTitle"] {
  border: 1px solid #404040;
  background-color: #363636 !important;
}

/* Admonition updates */
html[data-theme='dark'] .admonition {
  background-color: rgba(0, 98, 255, .2);
  border: 0px;
  border-left: 6px solid rgb(0, 98, 255);
  color: rgb(173, 205, 255);
  margin: 20px 0px;
  box-shadow: var(--container-box-shadow);
}

html[data-theme='dark'] .admonition .admonition-content ul,
html[data-theme='dark'] .admonition .admonition-content ol {
  padding-left: 16px;
}

html[data-theme='dark'] .admonition .admonition-heading {
  height: fit-content;
  white-space: nowrap;
}

html[data-theme='dark'] .admonition .admonition-content a {
  color: white;
  font-weight: bold;
  text-decoration: underline;
}

html[data-theme="dark"] .admonition .admonition-content code {
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(0, 0, 0, .1);
  box-shadow: none;
}

html[data-theme="dark"] .admonition .admonition-content *:last-child {
  margin-bottom: 0px;
}

html[data-theme='dark'] .admonition .admonition-heading h5 {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  width: max-content;
  margin: 0px 0px 16px;
  line-height: 1.25;
  background-color: rgb(0, 98, 255);
  padding: 1px 8px;
  border-radius: 8px;
  color: white;
}

html[data-theme="dark"] .admonition .admonition-heading h5 code {
  margin-left: 4px;
  background-color: rgba(255, 255, 255, .3);
  border-color: rgba(0, 0, 0, .1);
}

/* colors for caution admonition */
html[data-theme='dark'] .admonition.admonition-caution .admonition-heading h5 {
  background-color: rgb(196, 76, 52);
}

html[data-theme='dark'] .admonition.admonition-caution {
  background-color: rgba(196, 76, 52, .2);
  border-color: rgb(196, 76, 52);
  color: rgb(255, 184, 170);
}

/* colors for success and tip admonitions */
html[data-theme='dark'] .admonition.admonition-success .admonition-heading h5,
html[data-theme='dark'] .admonition.admonition-tip .admonition-heading h5 {
  background-color: rgb(38, 147, 71);
}

html[data-theme='dark'] .admonition.admonition-success,
html[data-theme='dark'] .admonition.admonition-tip {
  background-color: rgba(38, 147, 71, .2);
  border-color: rgb(38, 147, 71);
  color: rgb(173, 255, 198);
}

/* colors for danger admonition */
html[data-theme='dark'] .admonition.admonition-danger .admonition-heading h5 {
  background-color: rgb(196, 52, 52);
}

html[data-theme='dark'] .admonition.admonition-danger {
  background-color: rgba(196, 52, 52, .2);
  border-color: rgb(196, 52, 52);
  color: rgb(255, 170, 170);
}

/* colors for note admonitions */
html[data-theme='dark'] .admonition.admonition-note .admonition-heading h5 {
  background-color: rgb(173, 173, 173);
  color: rgb(56, 56, 56);
}

html[data-theme='dark'] .admonition.admonition-note {
  background-color: rgba(173, 173, 173, 0.2);
  border-color: rgb(173, 173, 173);
  color: rgb(221, 221, 221);
}

html[data-theme='dark'] .admonition .admonition-heading .admonition-icon {
  display: none;
}

/* left menu style updates */
html[data-theme='dark'] aside > div > nav {
  padding: 16px 0px 30px;
}

html[data-theme='dark'] aside > div > nav > .menu__list > .menu__list-item > .menu__link {
  text-transform: uppercase;
  font-size: 11px;
  padding: 0px 16px;
  margin: 12px 0 0px;
  border-radius: 0;
  color: rgb(188, 188, 188);
  line-height: 16px;
}

html[data-theme='dark'] aside > div > nav .menu__list .menu__list-item {
  margin-top: 0px;
}

html[data-theme='dark'] aside > div > nav .menu__list .menu__list-item img[class^="sidebarItemLogo"] {
  width: auto;
  height: 16px;
  margin-left: -8px;
}

html[data-theme='dark'] aside > div > nav .menu__list .menu__list-item .menu__link--sublist:after {
  background: url("/img/docs-left-menu-chevron.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 8px 14px;
  transform: rotate(90deg);
  filter: none;
  width: 8px;
  height: 14px;
}

html[data-theme='dark'] aside > div > nav .menu__list .menu__list-item--collapsed .menu__link--sublist:after {
  transform: rotate(0deg);
}

html[data-theme='dark'] aside > div > nav > .menu__list > .menu__list-item > .menu__link.menu__link--active:not(.menu__link--sublist) {
  color: var(--ifm-color-primary);
}

html[data-theme='dark'] aside > div > nav > .menu__list > .menu__list-item .menu__list {
  margin-left: 0;
}

html[data-theme='dark'] aside > div > nav > .menu__list > .menu__list-item .menu__list .menu__link {
  font-size: 13px;
  border-radius: 0;
  padding: 0px 16px;
  margin: 0;
  color: rgb(245, 246, 247);
  line-height: 16px;
}

html[data-theme='dark'] aside > div > nav > .menu__list > .menu__list-item .menu__list .menu__link.active {
  color: var(--ifm-color-primary);
}

html[data-theme='dark'] aside > div > nav .menu__list .menu__link span {
  padding: 6px 16px 6px 0px;
}

html[data-theme='dark'] main > .container {
  padding: 40px 0 !important;
}

html[data-theme='dark'] main > .container > .row {
  margin: 0;
}

html[data-theme='dark'] main > .container > .row > .col:nth-of-type(1) {
  box-sizing: border-box;
  padding: 0px 75px;
}

@media screen and (max-width: 996px) {
  html[data-theme='dark'] main > .container > .row > .col:nth-of-type(1) {
    padding: 0px 24px;
  }
}

/* right menu style updates */
html[data-theme='dark'] main > .container > .row .table-of-contents li {
  margin: 8px 0px;
}

html[data-theme='dark'] main > .container > .row .table-of-contents .table-of-contents__link {
  color: rgb(170, 170, 170);
}

html[data-theme='dark'] main > .container > .row .table-of-contents .table-of-contents__link--active,
html[data-theme='dark'] main > .container > .row .table-of-contents .table-of-contents__link:hover,
html[data-theme='dark'] main > .container > .row .table-of-contents .table-of-contents__link:hover code {
  color: var(--ifm-color-primary);
}

/* tabs */
html[data-theme='dark'] .tabs-container:not(.sub-tab) {
  border-radius: 6px;
  margin-bottom: 20px;
}

html[data-theme="dark"] .tabs-container div[role="tabpanel"] > div[class^="codeBlockContainer"]:last-child,
html[data-theme="dark"] .tabs-container div[role="tabpanel"] > .app-info-form-container:last-child,
html[data-theme="dark"] .tabs-container div[role="tabpanel"] > .app-info-form-question-container:last-child {
  margin-bottom: 20px;
}

html[data-theme="dark"] .tabs-container div[role="tabpanel"] > img:first-child {
  margin-top: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

html[data-theme="dark"] .tabs-container div[role="tabpanel"] > *:last-child {
  margin-bottom: 0px;
}

html[data-theme='dark'] .tabs-container:not(.sub-tab) > ul[role="tablist"] {
  border: 1px solid rgb(51, 51, 51);
  box-shadow: var(--container-box-shadow);
}

html[data-theme='dark'] .tabs-container p {
  margin: 16px 0px 20px;
}

html[data-theme='dark'] .tabs-container:not(.sub-tab) > .tabs > .tabs__item {
  font-size: 16px;
  padding: 16px;
  font-weight: bold;
  white-space: nowrap;
  border-radius: 0px;
}

html[data-theme='dark'] .tabs-container.sub-tab > .tabs > .tabs__item {
  font-size: 13px;
  padding: 16px 10px;
  white-space: nowrap;
  border-radius: 0px;
}

html[data-theme='dark'] .tabs-container.sub-tab > .tabs {
  background-color: rgb(21, 21, 21);
  border: 1px solid rgb(51, 51, 51);
  border-top: 0px;
  box-shadow: var(--container-box-shadow);
}

html[data-theme='dark'] .tabs-container.sub-tab:not(:first-child) > .tabs {
  border-top: 1px solid rgb(51, 51, 51);
  border-radius: 6px;
}

html[data-theme='dark'] .tabs-container ol:not(.tabs),
html[data-theme='dark'] .tabs-container ul:not(.tabs) {
  margin-bottom: 0px;
  padding-bottom: 16px;
}

html[data-theme="dark"] .tabs-container div[role="tabpanel"] > ol:not(.tabs):first-child,
html[data-theme="dark"] .tabs-container div[role="tabpanel"] > ul:not(.tabs):first-child {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 0px;
}

/* appInfoForm */
html[data-theme="dark"] .app-info-form-question-container,
html[data-theme="dark"] .app-info-form-container {
  box-shadow: var(--container-box-shadow);
}

html[data-theme='dark'] .tabs-container .app-info-form-question-container {
  border: 1px solid #404040;
}

html[data-theme='dark'] .tabs-container .app-info-form-container {
  margin-bottom: 1.25rem;
  border: 0px;
}

html[data-theme='dark'] .tabs-container .app-info-form-question-container:first-child,
html[data-theme='dark'] .tabs-container .app-info-form-container:first-child {
  border: 1px solid #404040;
  border-top: 0px;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px;
}

html[data-theme="dark"] .tabs-container div[role="tabpanel"] div[class^="codeBlockContainer"]:first-child .prism-code {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

/* styles for blockquote */
html[data-theme="dark"] .markdown blockquote {
  margin-bottom: 20px;
  color: #989DA3;
  border-color: #3D4143;
}

html[data-theme="dark"] .markdown blockquote > *:last-child {
  margin-bottom: 0px !important;
}

/* styles for drift chat elements */
@media screen and (max-width: 996px) {
  #drift-frame-controller {
    bottom: 80px !important;
  }

  #drift-frame-chat {
    bottom: 144px !important;
  }
}

/* Styles for collapsible elements */
details {
  position: relative;
  border-top: 1px solid var(--ifm-toc-border-color);;
  border-bottom: 1px solid var(--ifm-toc-border-color);;
}

details > summary {
  list-style-type: none;
  position: relative;  
  display: flex;
  align-items: center;
  background-color: var(--ifm-pre-background);  
  padding: 14px 20px;
  font-size: 16px;
  cursor: pointer;
}

details > summary::before {
  content: "";
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  background: url(/img/icon-plus.png) center;
  background-size: contain;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 12px;
}

details[open] {
  padding-bottom: 20px;
}

details[open] > summary {
  margin-bottom: 20px;
}

details[open] > summary::before {
  transform: rotate(45deg);  
}

details:not([open]) > *:not(summary) { /* Workaround to make the details' content have zero height & width */
  display: none;
}