/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #ff9933;
  --ifm-color-primary-dark: #ff8a14;
  --ifm-color-primary-darker: #ff8205;
  --ifm-color-primary-darkest: #d66b00;
  --ifm-color-primary-light: #ffa852;
  --ifm-color-primary-lighter: #ffb061;
  --ifm-color-primary-lightest: #ffc78f;
  --ifm-code-font-size: 95%;
}

/* +++++ BLUE THEME +++++ */
html[data-theme='dark'] {
  --ifm-background-color: rgb(26, 32, 53);
	--ifm-toc-border-color: rgb(60, 66, 88);

  --ifm-navbar-background-color: rgb(26, 32, 53);
  --ifm-navbar-shadow: none;

  --ifm-pre-border-radius: 0px;
  --ifm-pre-background: rgb(42, 47, 68);

	--ifm-scrollbar-track-background-color: transparent;
	--ifm-scrollbar-thumb-background-color: #2A2F44;
	--ifm-scrollbar-thumb-hover-background-color: #2A2F44;
}

/* Recipe cards */
html[data-theme='dark'] .stRecipeCardContainer_src-components-recipeTabs-recipe-tabs-module {
  background-color: rgb(42, 47, 68);
  border-color: rgb(60, 66, 88);
}

html[data-theme='dark'] .stRecipeCardContainer_src-components-recipeTabs-recipe-tabs-module:hover {
  background-color: rgba(255, 153, 51, 0.05);
  border-color: var(--ifm-color-primary);
}

/* Tabs */
html[data-theme='dark'] .tabs-container:not(.sub-tab) {
  border: 1px solid rgb(60, 64, 83);
  border-radius: 6px;
  overflow: hidden;
	margin-bottom: 20px;
}

html[data-theme='dark'] .tabs-container:not(.sub-tab) > ul[role="tablist"] {
	border-bottom: 1px solid rgb(60, 64, 83);
}

html[data-theme='dark'] .tabs-container.sub-tab {
  border-top: 1px solid rgb(60, 64, 83);
  background-color: rgb(29, 33, 47);
}

/* Code block */
html[data-theme='dark'] pre {
  margin: 0;
}

html[data-theme='dark'] div[role="tabpanel"] > p {
  margin: 1rem;
}

html[data-theme='dark'] div[role="tabpanel"] div[class^="codeBlockContainer"] {
  margin-bottom: 0;
}

html[data-theme='dark'] .app-info-form-question-container {
	background-color: rgb(42, 47, 68);
	border: 1px solid rgb(60, 66, 88);
	font-size: 8px;
	color: rgb(185, 192, 202);
}

/* Text V1 */
html[data-theme='dark'] .markdown h1 {
	font-size: 48px;
	margin: 0 0 48px;
}

html[data-theme='dark'] .markdown h2 {
	font-size: 32px;
	margin: 40px 0 20px;
}

html[data-theme='dark'] .markdown h3 {
	font-size: 24px;
	margin: 30px 0 20px;
}

html[data-theme='dark'] .markdown h4, h5, h6 {
	font-size: 16px;
	margin: 25px 0 20px;
}

html[data-theme='dark'] .markdown p {
	font-size: 16px;
	margin: 0 0 20px;
}

html[data-theme='dark'] .prism-code code {
	font-size: 13px;
	padding: 16px;
}

html[data-theme='dark'] .tabs-container:not(.sub-tab) > .tabs > .tabs__item {
	font-size: 16px;
	padding: 16px;
	font-weight: bold;
}

html[data-theme='dark'] .tabs-container.sub-tab > .tabs > .tabs__item {
	font-size: 13px;
	padding: 16px 10px;
}

html[data-theme='dark'] .markdown hr {
	margin: 5vw 0;
	height: 1px;
	border: none;
	background-color: rgb(60, 66, 88);
}

/* Menu */
html[data-theme='dark'] aside > div > nav {
	padding: 16px 0px 30px;
}

html[data-theme='dark'] aside > div > nav > .menu__list > .menu__list-item > .menu__link {
	text-transform: uppercase;
	font-size: 11px;
	padding: 0px 30px;
	margin: 16px 0 4px;
	border-radius: 0;
	color: rgb(247, 250, 252);
}

html[data-theme='dark'] aside > div > nav .menu__list .menu__list-item {
	margin-top: 0px;
}

html[data-theme='dark'] aside > div > nav .menu__list .menu__list-item .menu__link--sublist:after {
	background-size: 1.5rem 1.5rem;
	height: 8px;
	width: 14px;
}

html[data-theme='dark'] aside > div > nav > .menu__list > .menu__list-item > .menu__link.menu__link--sublist.menu__link--active {
	color: var(--ifm-menu-color);
}

html[data-theme='dark'] aside > div > nav > .menu__list > .menu__list-item .menu__list {
	margin-left: 0;
}

html[data-theme='dark'] aside > div > nav > .menu__list > .menu__list-item .menu__list .menu__link {
	font-size: 13px;
	border-radius: 0;
	padding: 0px 30px;
	margin: 0;
	color: rgb(163, 172, 185);
}

html[data-theme='dark'] aside > div > nav > .menu__list > .menu__list-item .menu__list .menu__link.active {
	color: var(--ifm-color-primary);
}

html[data-theme='dark'] aside > div > nav .menu__list .menu__link span {
	padding: 6px 0px;
}

/* End Text V1 */

html[data-theme='dark'] main > .container {
	padding: 40px 0 !important;
}

html[data-theme='dark'] main > .container > .row {
	margin: 0;
}

html[data-theme='dark'] main > .container > .row > .col:nth-of-type(1) {
	box-sizing: border-box;
	padding: 0px 75px;
}

/* Right menu */
html[data-theme='dark'] main > .container > .row .table-of-contents li {
	margin: 8px 0px;
}

html[data-theme='dark'] main > .container > .row .table-of-contents .table-of-contents__link {
	color: rgb(193, 201, 210);
}

html[data-theme='dark'] main > .container > .row .table-of-contents .table-of-contents__link--active {
	color: rgb(247, 250, 252);
}

/* admonitions */
html[data-theme='dark'] .admonition {
	background-color: rgb(42, 47, 68);
	border: 1px solid rgb(60 66 88);
	color: rgb(185, 192, 202);
}

html[data-theme='dark'] .admonition ul {
	padding-left: 16px;
}

html[data-theme='dark'] .admonition p {
	margin-bottom: 0px;
}

html[data-theme='dark'] .admonition .admonition-heading {
	height: fit-content;
}

html[data-theme='dark'] .admonition .admonition-content a {
	color: var(--ifm-link-color);
}

html[data-theme='dark'] .admonition .admonition-heading h5 {
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	display: block;
	width: max-content;
	margin: 0 0 16px;
	line-height: 1.25;
	background-color: rgb(0, 98, 255);
	padding: 1px 8px;
	border-radius: 8px;
	color: white;
}

html[data-theme='dark'] .admonition.admonition-caution .admonition-heading h5 {
	background-color: rgb(196, 76, 52);
}

html[data-theme='dark'] .admonition.admonition-success .admonition-heading h5 {
	background-color: rgb(38, 147, 71);
}

html[data-theme='dark'] .admonition.admonition-danger .admonition-heading h5 {
	background-color: rgb(196, 52, 52);
}

html[data-theme='dark'] .admonition .admonition-heading .admonition-icon {
	display: none;
}

/* Pagination buttons */
html[data-theme='dark'] .pagination-nav__link {
	border-color: rgb(60, 64, 83);
}
/* +++++ END BLUE THEME +++++ */

.docusaurus-highlight-code-line {
  background-color: rgb(60, 64, 83);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgb(60, 64, 83);
}

/* custom styles below */

/* For supertokens.io footer */
#footer-container {
  background-color: rgba(0, 0, 0, 0) !important;
  border-width: 0px;
  border-top-width: 1px;
  border-style: solid;
  border-color: #606770;
}
.footer {
  background-color: rgba(0, 0, 0, 0) !important;
}

.alert--info {
  --ifm-alert-background-color: #89e2ff;
}

.alert--success {
  --ifm-alert-background-color: #8fff8f;
}

.alert--warning {
  --ifm-alert-background-color: #ffe6a2;
}

.markdown a {
  text-decoration: underline;
}

/* CODE THEME */
code[class*="language-"],
pre[class*="language-"] {
	color: #f8f8f2;
	background: none;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3) !important;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Code blocks */
pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
	text-shadow: none;
	background: rgb(42, 47, 68); /* rgba(29, 59, 83, 0.99) !important;*/
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
	text-shadow: none;
	/* background: rgba(29, 59, 83, 0.99) !important; */
	background: rgb(42, 47, 68); /* rgba(29, 59, 83, 0.99) !important;*/
}

@media print {
	code[class*="language-"],
	pre[class*="language-"] {
		text-shadow: none;
	}
}

/* Code blocks */
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	color: white;
	background: rgb(42, 47, 68) !important;
}

:not(pre) > code[class*="language-"] {
	padding: 0.1em;
	border-radius: 0.3em;
	white-space: normal;
}

.token.comment,
.token.prolog,
.token.cdata {
	color: rgb(99, 119, 119) !important;
	font-style: italic;
}

.token.punctuation {
	color: rgb(199, 146, 234) !important;
}

.namespace {
	color: rgb(178, 204, 214) !important;
}

.token.deleted {
	color: rgba(239, 83, 80, 0.56) !important;
	font-style: italic;
}

.token.symbol,
.token.property {
	color: rgb(128, 203, 196) !important;
}

.token.tag,
.token.operator,
.token.keyword {
	color: rgb(127, 219, 202) !important;
}

.token.boolean {
	color: rgb(255, 88, 116) !important;
}

.token.number {
	color: rgb(247, 140, 108) !important;
}

.token.constant,
.token.function,
.token.builtin,
.token.char {
	color: rgb(130, 170, 255) !important;
}

.token.selector,
.token.doctype {
	color: rgb(199, 146, 234) !important;
	font-style: italic;
}

.token.attr-name,
.token.inserted {
	color: rgb(173, 219, 103) !important;
	font-style: italic;
}

.token.string,
.token.url,
.token.entity,
.language-css .token.string,
.style .token.string {
	color: rgb(173, 219, 103) !important;
}

.token.class-name,
.token.atrule,
.token.attr-value {
	color: rgb(255, 203, 139) !important;
}

.token.regex,
.token.important,
.token.variable {
	color: rgb(214, 222, 235) !important;
}

.token.important,
.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}