li.pro {
    color: #11b584;
    list-style: none;
}

li.pro::before {
    content: "➕";
    text-align: center;
    width: 1.5em;
    display: inline-block;
}
li.neut {
    color: #959396;
    list-style: none;
}

li.neut::before {
    content: "○";
    text-align: center;
    width: 1.5em;
    display: inline-block;
}

li.con {
    color: #f96e65;
    list-style: none;
}

li.con::before {
    content: "➖";
    text-align: center;
    width: 1.5em;
    display: inline-block;
}

dl.decisionHeader {
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
    max-height: 6em;
}

.decisionHeader > dt {
    padding: 2px 4px;
}
.decisionHeader > dd {
    margin: 0;
    padding: 4px;
    min-height: 3em;
}

.decisionStatus-accepted {
    color: #5cb85c;
}

.decisionStatus-proposed {
    color: lightyellow;
}

.decisionStatus-rejected,
.decisionStatus-superseded,
.decisionStatus-deprecated {
    color: #f96e65;
}