.docMainContainer {
  display: flex;
  width: 100%;

  /** Custom Style **/
  img {
    border-radius: var(--radius-4);
    display: block;
    margin: 40px auto;
  }
}

.docItemWrapper {
  padding: 1rem !important;

  &[data-page-type="api-reference"] {
    max-width: 1400px;
  }
}

@media (min-width: 997px) {
  .docMainContainer {
    flex-grow: 1;
    max-width: calc(100% - var(--doc-sidebar-width));
  }

  .docItemWrapper {
    padding: 2rem !important;
  }

  .docMainContainerEnhanced {
    max-width: calc(100% - var(--doc-sidebar-hidden-width));
  }

  .docItemWrapperEnhanced {
    max-width: calc(var(--ifm-container-width) + var(--doc-sidebar-width)) !important;
  }
}
