.ui-type-switch {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--ifm-toc-border-color);
}

.ui-type-switch__button {
  background: blue;
}
