.tabList {
	margin-bottom: var(--ifm-leading);
	font-size: var(--font-size-4);
	line-height: var(--line-height-4);
	letter-spacing: var(--letter-spacing-4);

	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;

	&::after {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}

	&::before {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
}

.tabItem {
	padding: var(--space-5) var(--space-3);

	&[data-state="active"] {
		color: var(--accent);
	}
}
