.navbar-sidebar {
  z-index: 10;

  &__action-item {
    display: flex;
    align-items: center;
    justify-content: center;

    &--hoverable {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: var(--radius-3);

      &:hover {
        background-color: var(--gray-a4);
        color: var(--gray-12);
      }
    }
  }

  &__brand {
    box-shadow: none !important;
  }
}
