.search-button {
  min-width: 300px;
  color: var(--gray-11);

  &__shortcut-indicator {
    @media screen and (max-width: 996px) {
      display: none;
    }
  }

  @media screen and (max-width: 996px) {
    justify-content: flex-start;
    min-width: unset;
    flex: 1;
  }
  &:hover {
    color: var(--gray-12);
  }
}

.search-modal {
  margin-top: 150px;
  padding: 0;
  width: 700px;

  animation: fadeIn 0.2s ease-in-out;

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @media screen and (max-width: 996px) {
    width: 100%;
    max-width: calc(100vw - 2rem);
  }

  &__input {
    color: var(--gray-11);
    border-radius: var(--radius-4);
    --text-field-height: var(--space-8);
  }

  &__results {
    overflow-y: auto;
    max-height: 400px;
    position: relative;
  }

  &__close-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    span {
      display: block;
      animation: fadeIn 0.15s ease-in-out;
      @media screen and (max-width: 996px) {
        display: none;
      }
    }
    svg {
      display: none;
      animation: fadeIn 0.15s ease-in-out;
      @media screen and (max-width: 996px) {
        display: block;
      }
    }
    &:hover {
      span {
        display: none;
      }
      svg {
        display: block;
      }
    }
  }

  &__results-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__no-results {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100px;
  }

  &__tabs-list {
    @media screen and (max-width: 996px) {
      display: none;
    }
  }

  &__item {
    padding: var(--space-1) var(--space-3);
    border-bottom: 1px solid var(--gray-6);
    min-width: 0;

    a {
      display: block;
      width: 100%;
      min-width: 0;
    }

    &[data-active="true"] {
      background-color: var(--gray-a4);

      mark {
        background-color: unset;
        text-decoration: underline;
        color: var(--gray-12);
      }
    }

    mark {
      background-color: unset;
      color: var(--orange-10);
    }
  }

  &__item-content {
    overflow: hidden;
    min-width: 0;
    flex: 1;
  }

  &__item-highlight {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%;
    min-width: 0;
  }

  &__item-icon {
    color: var(--gray-11);
    flex-shrink: 0;
  }

  @media screen and (max-width: 480px) {
    &__item {
      padding: var(--space-1) var(--space-2);
    }

    &__item-highlight {
      font-size: 0.9rem;
    }
  }
}
