.search-button {
  min-width: 300px;
  color: var(--gray-11);

  &:hover {
    color: var(--gray-12);
  }
}

.search-modal {
  margin-top: 150px;
  padding: 0;
  width: 700px;

  &__input {
    color: var(--gray-11);
    border-radius: var(--radius-4);
    --text-field-height: var(--space-8);
  }

  &__results {
    min-height: 200px;
    overflow-y: auto;
    max-height: 50vh;
    position: relative;
  }

  &__no-results {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  &__item {
    padding: var(--space-1) var(--space-3);
    &[data-active="true"] {
      background-color: var(--orange-10);

      mark {
        background-color: unset;
        text-decoration: underline;
        color: var(--gray-12);
      }
    }

    mark {
      background-color: unset;
      color: var(--orange-10);
    }
  }
}
