.admonition {
  margin-bottom: var(--space-5);
  overflow-wrap: break-word;
  word-wrap: break-word;
  overflow-y: auto;

  &__content {
    overflow-y: auto;
    font-size: var(--font-size-2);
    line-height: var(--line-height-2);
    letter-spacing: var(--letter-spacing-2);
    text-align: left;
    color: var(--accent-a11);

    & > *:last-child {
      margin-bottom: 0;
    }

    ul li {
      &:before {
        margin-top: -3px !important;
      }
    }
  }
}
