.form {
  display: flex;
  flex-direction: column;

  box-shadow: var(--container-box-shadow);
  padding: 16px;
  color: rgb(255, 255, 255);
  background: #2a2a2a;
  border: 0.0625rem solid #404040;
  border-radius: 6px;
}

.form__field {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form__label {
  color: white;
  display: flex;
  align-items: center;
  gap: 5px;
}

.form__grid {
  display: grid;
  padding: 0;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin: 0;
}

.form__separator {
  height: 1px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 15px 0;
}

.form__section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form__section-title {
  font-weight: 600;
  margin: 0 !important;
  margin-bottom: 10px !important;
}

@media (max-width: 700px) {
  .form_grid {
    grid-template-columns: 1fr;
  }
}
