@import "@radix-ui/themes/tokens/base.css";

:root {
  --color-background: #ffffff;
  --code-font-family: "IBM Plex Mono", monospace;

  --orange-1: #fefcfb;
  --orange-2: #fff7ee;
  --orange-3: #ffedd5;
  --orange-4: #ffdeb5;
  --orange-5: #ffd19d;
  --orange-6: #ffc58f;
  --orange-7: #f1b47d;
  --orange-8: #e39d5a;
  --orange-9: #f79934;
  --orange-10: #ea8e28;
  --orange-11: #b66300;
  --orange-12: #4e341c;
  --orange-a1: #c0400004;
  --orange-a2: #ff870011;
  --orange-a3: #ff92002a;
  --orange-a4: #ff8e014a;
  --orange-a5: #ff880062;
  --orange-a6: #ff7b0070;
  --orange-a7: #e46c0082;
  --orange-a8: #d46800a5;
  --orange-a9: #f57f00cb;
  --orange-a10: #e67900d7;
  --orange-a11: #b66300;
  --orange-a12: #381b00e3;
  --orange-contrast: #fff;
  --orange-surface: #fff5eacc;
  --orange-indicator: #f79934;
  --orange-track: #f79934;

  --gray-1: #fcfcfd;
  --gray-2: #f9f9fb;
  --gray-3: #eff0f3;
  --gray-4: #e7e8ec;
  --gray-5: #e0e1e6;
  --gray-6: #d8d9e0;
  --gray-7: #cdced7;
  --gray-8: #b9bbc6;
  --gray-9: #8b8d98;
  --gray-10: #80828d;
  --gray-11: #62636c;
  --gray-12: #1e1f24;

  --gray-a1: #00005503;
  --gray-a2: #00005506;
  --gray-a3: #00104010;
  --gray-a4: #000b3618;
  --gray-a5: #0009321f;
  --gray-a6: #00073527;
  --gray-a7: #00063332;
  --gray-a8: #00083046;
  --gray-a9: #00051d74;
  --gray-a10: #00051b7f;
  --gray-a11: #0002119d;
  --gray-a12: #000107e1;

  --gray-contrast: #ffffff;
  --gray-surface: #ffffffcc;
  --gray-indicator: #8b8d98;
  --gray-track: #8b8d98;

  --green-1: #fbfefb;
  --green-2: #f5fbf6;
  --green-3: #e7f7e9;
  --green-4: #d8f1db;
  --green-5: #c6e9cb;
  --green-6: #afdfb6;
  --green-7: #8fcf9a;
  --green-8: #5fbb73;
  --green-9: #269347;
  --green-10: #22843f;
  --green-11: #1c803b;
  --green-12: #1e3c24;

  --green-a1: #00c00004;
  --green-a2: #00991a0a;
  --green-a3: #00aa1618;
  --green-a4: #00a41427;
  --green-a5: #009d1739;
  --green-a6: #00991750;
  --green-a7: #00921a70;
  --green-a8: #009320a0;
  --green-a9: #008027d9;
  --green-a10: #007122dd;
  --green-a11: #007023e3;
  --green-a12: #002207e1;

  --green-contrast: #fff;
  --green-surface: #f3faf4cc;
  --green-indicator: #269347;
  --green-track: #269347;

  --blue-1: #fcfdff;
  --blue-2: #f5faff;
  --blue-3: #eaf3ff;
  --blue-4: #daebff;
  --blue-5: #c8e1ff;
  --blue-6: #b3d4ff;
  --blue-7: #9ac2ff;
  --blue-8: #75a9fb;
  --blue-9: #0062e1;
  --blue-10: #0052d1;
  --blue-11: #0062e1;
  --blue-12: #0b2f66;

  --blue-a1: #0055ff03;
  --blue-a2: #0080ff0a;
  --blue-a3: #006eff15;
  --blue-a4: #0076ff25;
  --blue-a5: #0074ff37;
  --blue-a6: #006fff4c;
  --blue-a7: #0065ff65;
  --blue-a8: #0061f88a;
  --blue-a9: #0062e1;
  --blue-a10: #0052d1;
  --blue-a11: #0062e1;
  --blue-a12: #00265ff4;

  --blue-contrast: #fff;
  --blue-surface: #f3f9ffcc;
  --blue-indicator: #0062e1;
  --blue-track: #0062e1;

  --yellow-1: #fefdfa;
  --yellow-2: #fffbe8;
  --yellow-3: #fff4bb;
  --yellow-4: #ffeb94;
  --yellow-5: #ffe16e;
  --yellow-6: #f9d46b;
  --yellow-7: #e6c461;
  --yellow-8: #d4ad2f;
  --yellow-9: #ffd000;
  --yellow-10: #fac700;
  --yellow-11: #967200;
  --yellow-12: #453b1d;

  --yellow-a1: #cc990005;
  --yellow-a2: #ffd30017;
  --yellow-a3: #ffd60044;
  --yellow-a4: #ffd0016b;
  --yellow-a5: #ffcb0091;
  --yellow-a6: #f5b50094;
  --yellow-a7: #d7a0009e;
  --yellow-a8: #ca9b00d0;
  --yellow-a9: #ffd000;
  --yellow-a10: #fac700;
  --yellow-a11: #967200;
  --yellow-a12: #2d2200e2;

  --yellow-contrast: #292109;
  --yellow-surface: #fffae2cc;
  --yellow-indicator: #ffd000;
  --yellow-track: #ffd000;

  --red-1: #fffcfc;
  --red-2: #fff7f7;
  --red-3: #feebea;
  --red-4: #ffdcd9;
  --red-5: #ffceca;
  --red-6: #fdbeba;
  --red-7: #f4aaa5;
  --red-8: #eb8f8b;
  --red-9: #d63941;
  --red-10: #c72533;
  --red-11: #cc2e39;
  --red-12: #64181b;

  --red-a1: #ff000003;
  --red-a2: #ff000008;
  --red-a3: #f30d0015;
  --red-a4: #ff150026;
  --red-a5: #ff140035;
  --red-a6: #f80f0045;
  --red-a7: #e00f015a;
  --red-a8: #d4090074;
  --red-a9: #ca000ac6;
  --red-a10: #be0010da;
  --red-a11: #c1000ed1;
  --red-a12: #540003e7;

  --red-contrast: #fff;
  --red-surface: #fff5f5cc;
  --red-indicator: #d63941;
  --red-track: #d63941;
}

[data-theme="dark"] {
  --color-background: #0a0a0a;

  --orange-1: #0e0906;
  --orange-2: #1d150e;
  --orange-3: #311e0b;
  --orange-4: #452100;
  --orange-5: #532a00;
  --orange-6: #633808;
  --orange-7: #794917;
  --orange-8: #9c5e1c;
  --orange-9: #f79934;
  --orange-10: #eb8e24;
  --orange-11: #ffa442;
  --orange-12: #ffe0c5;

  --orange-a1: #d7000005;
  --orange-a2: #fd973d14;
  --orange-a3: #fd871129;
  --orange-a4: #fc68003e;
  --orange-a5: #ff76004c;
  --orange-a6: #ff89055d;
  --orange-a7: #ff952774;
  --orange-a8: #ff972998;
  --orange-a9: #ff9e36f7;
  --orange-a10: #fe9926eb;
  --orange-a11: #ffa442;
  --orange-a12: #ffe0c5;

  --orange-contrast: #fff;
  --orange-surface: #30201280;
  --orange-indicator: #f79934;
  --orange-track: #f79934;

  --gray-1: #0a0a0a;
  --gray-2: #171717;
  --gray-3: #212121;
  --gray-4: #292929;
  --gray-5: #303030;
  --gray-6: #3a3a3a;
  --gray-7: #474747;
  --gray-8: #606060;
  --gray-9: #6c6c6c;
  --gray-10: #7a7a7a;
  --gray-11: #b3b3b3;
  --gray-12: #ededed;

  --gray-a1: #00000000;
  --gray-a2: #ffffff0e;
  --gray-a3: #ffffff18;
  --gray-a4: #ffffff20;
  --gray-a5: #ffffff28;
  --gray-a6: #ffffff32;
  --gray-a7: #ffffff3f;
  --gray-a8: #ffffff5a;
  --gray-a9: #ffffff66;
  --gray-a10: #ffffff75;
  --gray-a11: #ffffffb0;
  --gray-a12: #ffffffec;

  --gray-contrast: #ffffff;
  --gray-surface: rgba(0, 0, 0, 0.05);
  --gray-indicator: #6c6c6c;
  --gray-track: #6c6c6c;

  --green-1: #060c07;
  --green-2: #121a13;
  --green-3: #162c1a;
  --green-4: #183b1f;
  --green-5: #1f4928;
  --green-6: #275732;
  --green-7: #30683d;
  --green-8: #387c47;
  --green-9: #269347;
  --green-10: #3d804c;
  --green-11: #6bd181;
  --green-12: #b6f1bf;

  --green-a1: #00b40003;
  --green-a2: #82fa9111;
  --green-a3: #5ffb7b24;
  --green-a4: #50ff7333;
  --green-a5: #5cfe7e42;
  --green-a6: #66fd8851;
  --green-a7: #6dff8f62;
  --green-a8: #6dff8d77;
  --green-a9: #3cff778f;
  --green-a10: #74ff937b;
  --green-a11: #81fe9cd0;
  --green-a12: #c0fec9f1;

  --green-contrast: #fff;
  --green-surface: #1a2a1c80;
  --green-indicator: #269347;
  --green-track: #269347;

  --blue-1: #040a15;
  --blue-2: #0d1625;
  --blue-3: #0d254a;
  --blue-4: #0d2f65;
  --blue-5: #133a78;
  --blue-6: #1c4688;
  --blue-7: #24539d;
  --blue-8: #2961b8;
  --blue-9: #0062e1;
  --blue-10: #235bb1;
  --blue-11: #82b7ff;
  --blue-12: #d0e3ff;

  --blue-a1: #000af40c;
  --blue-a2: #2574f81d;
  --blue-a3: #1671fe43;
  --blue-a4: #136eff5f;
  --blue-a5: #1e75fe73;
  --blue-a6: #2d7efe84;
  --blue-a7: #3684ff99;
  --blue-a8: #3584feb6;
  --blue-a9: #006effe0;
  --blue-a10: #2f81ffae;
  --blue-a11: #82b7ff;
  --blue-a12: #d0e3ff;

  --blue-contrast: #fff;
  --blue-surface: #10224080;
  --blue-indicator: #0062e1;
  --blue-track: #0062e1;

  --yellow-1: #0c0a05;
  --yellow-2: #1a170e;
  --yellow-3: #2b2206;
  --yellow-4: #3a2a00;
  --yellow-5: #473400;
  --yellow-6: #544200;
  --yellow-7: #685415;
  --yellow-8: #836a1d;
  --yellow-9: #fc0;
  --yellow-10: #f5c200;
  --yellow-11: #ffcf0f;
  --yellow-12: #fce9b2;

  --yellow-a1: #b40a0003;
  --yellow-a2: #facd4611;
  --yellow-a3: #fbb90023;
  --yellow-a4: #ffae0032;
  --yellow-a5: #feb20040;
  --yellow-a6: #fcc2004e;
  --yellow-a7: #ffcb2762;
  --yellow-a8: #ffcd317e;
  --yellow-a9: #ffcc00;
  --yellow-a10: #ffca00f5;
  --yellow-a11: #ffcf0f;
  --yellow-a12: #ffecb4fc;

  --yellow-contrast: #292109;
  --yellow-surface: #2a241280;
  --yellow-indicator: #fc0;
  --yellow-track: #fc0;

  --red-1: #0f0808;
  --red-2: #1e1211;
  --red-3: #3a1212;
  --red-4: #500f12;
  --red-5: #61171a;
  --red-6: #732425;
  --red-7: #8c3434;
  --red-8: #b54546;
  --red-9: #d63941;
  --red-10: #b44445;
  --red-11: #ff8f8b;
  --red-12: #ffd2ce;

  --red-a1: #df000006;
  --red-a2: #fd6c6015;
  --red-a3: #ff333332;
  --red-a4: #ff1c2649;
  --red-a5: #fe2f375b;
  --red-a6: #fd46496e;
  --red-a7: #fe595988;
  --red-a8: #ff5f60b2;
  --red-a9: #fe424cd5;
  --red-a10: #ff5e5fb1;
  --red-a11: #ff8f8b;
  --red-a12: #ffd2ce;

  --red-contrast: #fff;
  --red-surface: #321a1880;
  --red-indicator: #d63941;
  --red-track: #d63941;
}

@supports (color: color(display-p3 1 1 1)) {
  --orange-1: oklch(99.3% 0.0022 62.61);
  --orange-2: oklch(98.2% 0.0162 62.61);
  --orange-3: oklch(96.2% 0.0434 62.61);
  --orange-4: oklch(93% 0.0785 62.61);
  --orange-5: oklch(90.2% 0.1012 62.61);
  --orange-6: oklch(86.7% 0.0992 62.61);
  --orange-7: oklch(81.4% 0.1005 62.61);
  --orange-8: oklch(75.1% 0.1181 62.61);
  --orange-9: oklch(76.4% 0.1562 62.61);
  --orange-10: oklch(72.9% 0.1543 62.61);
  --orange-11: oklch(58.3% 0.1473 62.61);
  --orange-12: oklch(35.1% 0.0532 62.61);

  --orange-a1: color(display-p3 0.7569 0.2667 0.0235 / 0.016);
  --orange-a2: color(display-p3 0.9412 0.5059 0.0078 / 0.063);
  --orange-a3: color(display-p3 0.9255 0.5647 0.0039 / 0.153);
  --orange-a4: color(display-p3 0.9294 0.5373 0.0039 / 0.271);
  --orange-a5: color(display-p3 0.9255 0.5176 0.0039 / 0.357);
  --orange-a6: color(display-p3 0.9137 0.4627 0.0039 / 0.408);
  --orange-a7: color(display-p3 0.8118 0.4039 0.0039 / 0.479);
  --orange-a8: color(display-p3 0.7529 0.3843 0 / 0.604);
  --orange-a9: color(display-p3 0.8824 0.4549 0 / 0.706);
  --orange-a10: color(display-p3 0.8196 0.4275 0 / 0.746);
  --orange-a11: color(display-p3 0.6196 0.3098 0 / 0.863);
  --orange-a12: color(display-p3 0.1882 0.0941 0 / 0.875);

  --orange-contrast: #fff;
  --orange-surface: color(display-p3 1 0.9608 0.9216 / 0.8);
  --orange-indicator: oklch(76.4% 0.1562 62.61);
  --orange-track: oklch(76.4% 0.1562 62.61);

  --gray-1: oklch(99.1% 0.0015 277.7);
  --gray-2: oklch(98.2% 0.003 277.7);
  --gray-3: oklch(95.6% 0.0045 277.7);
  --gray-4: oklch(93.1% 0.0061 277.7);
  --gray-5: oklch(91% 0.0077 277.7);
  --gray-6: oklch(88.8% 0.0093 277.7);
  --gray-7: oklch(85.3% 0.0117 277.7);
  --gray-8: oklch(79.4% 0.016 277.7);
  --gray-9: oklch(64.6% 0.0165 277.7);
  --gray-10: oklch(61% 0.0161 277.7);
  --gray-11: oklch(50.3% 0.0139 277.7);
  --gray-12: oklch(24.1% 0.0099 277.7);

  --gray-a1: color(display-p3 0.0235 0.0235 0.349 / 0.012);
  --gray-a2: color(display-p3 0.0235 0.0235 0.349 / 0.024);
  --gray-a3: color(display-p3 0.0078 0.0667 0.2549 / 0.063);
  --gray-a4: color(display-p3 0.0118 0.051 0.2157 / 0.095);
  --gray-a5: color(display-p3 0.0039 0.0392 0.2 / 0.122);
  --gray-a6: color(display-p3 0.0039 0.0275 0.1804 / 0.153);
  --gray-a7: color(display-p3 0.0078 0.0275 0.1843 / 0.197);
  --gray-a8: color(display-p3 0.0039 0.0314 0.1765 / 0.275);
  --gray-a9: color(display-p3 0.0039 0.0196 0.1059 / 0.455);
  --gray-a10: color(display-p3 0.0039 0.0196 0.098 / 0.499);
  --gray-a11: color(display-p3 0 0.0078 0.0588 / 0.616);
  --gray-a12: color(display-p3 0 0.0039 0.0275 / 0.883);

  --gray-contrast: #ffffff;
  --gray-surface: color(display-p3 1 1 1 / 80%);
  --gray-indicator: oklch(64.6% 0.0165 277.7);
  --gray-track: oklch(64.6% 0.0165 277.7);

  --green-1: oklch(99.4% 0.0056 149);
  --green-2: oklch(98.2% 0.0097 149);
  --green-3: oklch(96.1% 0.0243 149);
  --green-4: oklch(93.4% 0.0388 149);
  --green-5: oklch(90.1% 0.0555 149);
  --green-6: oklch(85.8% 0.0748 149);
  --green-7: oklch(79.8% 0.0994 149);
  --green-8: oklch(71.6% 0.136 149);
  --green-9: oklch(58.5% 0.1482 149);
  --green-10: oklch(54.2% 0.1364 149);
  --green-11: oklch(52.7% 0.1364 149);
  --green-12: oklch(32.7% 0.0559 149);

  --green-a1: color(display-p3 0.2667 0.7569 0.0235 / 0.016);
  --green-a2: color(display-p3 0.0235 0.5647 0.0235 / 0.036);
  --green-a3: color(display-p3 0.0078 0.5765 0.0078 / 0.083);
  --green-a4: color(display-p3 0.0078 0.5647 0.0078 / 0.134);
  --green-a5: color(display-p3 0.0078 0.5451 0.0078 / 0.197);
  --green-a6: color(display-p3 0.0039 0.5294 0.0039 / 0.275);
  --green-a7: color(display-p3 0.0039 0.4902 0.0118 / 0.385);
  --green-a8: color(display-p3 0 0.4902 0.0314 / 0.538);
  --green-a9: color(display-p3 0 0.3922 0.0275 / 0.71);
  --green-a10: color(display-p3 0 0.3373 0.0275 / 0.742);
  --green-a11: color(display-p3 0 0.3333 0.0275 / 0.757);
  --green-a12: color(display-p3 0 0.102 0.0039 / 0.855);

  --green-contrast: #fff;
  --green-surface: color(display-p3 0.9569 0.9804 0.9569 / 0.8);
  --green-indicator: oklch(58.5% 0.1482 149);
  --green-track: oklch(58.5% 0.1482 149);

  --blue-1: oklch(99.4% 0.0025 259.3);
  --blue-2: oklch(98.2% 0.0098 259.3);
  --blue-3: oklch(96% 0.0206 259.3);
  --blue-4: oklch(93.6% 0.0398 259.3);
  --blue-5: oklch(90.4% 0.0593 259.3);
  --blue-6: oklch(86.3% 0.0799 259.3);
  --blue-7: oklch(80.8% 0.0995 259.3);
  --blue-8: oklch(73.2% 0.1326 259.3);
  --blue-9: oklch(53% 0.2085 259.3);
  --blue-10: oklch(48.3% 0.2085 259.3);
  --blue-11: oklch(52.9% 0.2085 259.3);
  --blue-12: oklch(31.7% 0.1051 259.3);

  --blue-a1: color(display-p3 0.0235 0.349 1 / 0.012);
  --blue-a2: color(display-p3 0.0235 0.4588 0.8941 / 0.036);
  --blue-a3: color(display-p3 0.0078 0.3725 0.949 / 0.075);
  --blue-a4: color(display-p3 0.0078 0.3882 0.9451 / 0.134);
  --blue-a5: color(display-p3 0.0078 0.3843 0.9412 / 0.197);
  --blue-a6: color(display-p3 0.0039 0.3725 0.9451 / 0.275);
  --blue-a7: color(display-p3 0.0039 0.3373 0.949 / 0.365);
  --blue-a8: color(display-p3 0.0039 0.3176 0.9216 / 0.499);
  --blue-a9: color(display-p3 0 0.2588 0.8235 / 0.844);
  --blue-a10: color(display-p3 0 0.2157 0.7569 / 0.871);
  --blue-a11: color(display-p3 0 0.2588 0.8235 / 0.844);
  --blue-a12: color(display-p3 0 0.102 0.3255 / 0.914);

  --blue-contrast: #fff;
  --blue-surface: color(display-p3 0.9569 0.9725 1 / 0.8);
  --blue-indicator: oklch(53% 0.2085 259.3);
  --blue-track: oklch(53% 0.2085 259.3);

  --yellow-1: oklch(99.4% 0.0037 90.38);
  --yellow-2: oklch(98.7% 0.025 90.38);
  --yellow-3: oklch(97.1% 0.0762 90.38);
  --yellow-4: oklch(94.8% 0.1115 90.38);
  --yellow-5: oklch(92.1% 0.1396 90.38);
  --yellow-6: oklch(88.1% 0.1307 90.38);
  --yellow-7: oklch(83% 0.1244 90.38);
  --yellow-8: oklch(76.1% 0.142 90.38);
  --yellow-9: oklch(88.1% 0.1909 90.38);
  --yellow-10: oklch(85.1% 0.1768 90.38);
  --yellow-11: oklch(57.1% 0.1438 90.38);
  --yellow-12: oklch(35.4% 0.047 90.38);

  --yellow-a1: color(display-p3 0.8039 0.6078 0.0196 / 0.02);
  --yellow-a2: color(display-p3 0.9529 0.8118 0.0078 / 0.083);
  --yellow-a3: color(display-p3 0.9686 0.8235 0.0039 / 0.244);
  --yellow-a4: color(display-p3 0.9725 0.8039 0.0039 / 0.377);
  --yellow-a5: color(display-p3 0.9647 0.7765 0 / 0.502);
  --yellow-a6: color(display-p3 0.9098 0.6824 0 / 0.518);
  --yellow-a7: color(display-p3 0.7843 0.5961 0 / 0.561);
  --yellow-a8: color(display-p3 0.7294 0.5569 0 / 0.714);
  --yellow-a9: color(display-p3 0.9608 0.7569 0 / 0.722);
  --yellow-a10: color(display-p3 0.9294 0.7098 0 / 0.734);
  --yellow-a11: color(display-p3 0.4941 0.3608 0 / 0.859);
  --yellow-a12: color(display-p3 0.1529 0.1176 0 / 0.871);

  --yellow-contrast: #292109;
  --yellow-surface: color(display-p3 1 0.9804 0.898 / 0.8);
  --yellow-indicator: oklch(88.1% 0.1909 90.38);
  --yellow-track: oklch(88.1% 0.1909 90.38);

  --red-1: oklch(99.4% 0.0031 23.01);
  --red-2: oklch(98.3% 0.0082 23.01);
  --red-3: oklch(95.6% 0.0208 23.01);
  --red-4: oklch(92.8% 0.0466 23.01);
  --red-5: oklch(89.6% 0.0611 23.01);
  --red-6: oklch(85.7% 0.0735 23.01);
  --red-7: oklch(80.7% 0.0881 23.01);
  --red-8: oklch(74.5% 0.1116 23.01);
  --red-9: oklch(58.4% 0.1932 23.01);
  --red-10: oklch(54% 0.1957 23.01);
  --red-11: oklch(55.7% 0.1932 23.01);
  --red-12: oklch(33.9% 0.1079 23.01);

  --red-a1: color(display-p3 0.6745 0.0235 0.0235 / 0.012);
  --red-a2: color(display-p3 0.8784 0.0196 0.0196 / 0.032);
  --red-a3: color(display-p3 0.8118 0.1059 0.0078 / 0.083);
  --red-a4: color(display-p3 0.8392 0.0902 0.0078 / 0.146);
  --red-a5: color(display-p3 0.8471 0.098 0.0039 / 0.204);
  --red-a6: color(display-p3 0.8235 0.0784 0.0039 / 0.263);
  --red-a7: color(display-p3 0.7529 0.0706 0.0039 / 0.346);
  --red-a8: color(display-p3 0.7098 0.0471 0.0039 / 0.444);
  --red-a9: color(display-p3 0.6863 0 0.0078 / 0.726);
  --red-a10: color(display-p3 0.6431 0 0.0157 / 0.789);
  --red-a11: color(display-p3 0.6549 0 0.0118 / 0.761);
  --red-a12: color(display-p3 0.2745 0 0 / 0.883);

  --red-contrast: #fff;
  --red-surface: color(display-p3 0.9961 0.9647 0.9608 / 0.8);
  --red-indicator: oklch(58.4% 0.1932 23.01);
  --red-track: oklch(58.4% 0.1932 23.01);

  @media (color-gamut: p3) {
    [data-theme="dark"] {
      --orange-1: oklch(14.5% 0.0114 62.61);
      --orange-2: oklch(20.2% 0.0184 62.61);
      --orange-3: oklch(25.4% 0.0433 62.61);
      --orange-4: oklch(29.1% 0.0762 62.61);
      --orange-5: oklch(33.4% 0.0831 62.61);
      --orange-6: oklch(38.6% 0.0832 62.61);
      --orange-7: oklch(45.3% 0.0907 62.61);
      --orange-8: oklch(54% 0.1112 62.61);
      --orange-9: oklch(76.4% 0.1562 62.61);
      --orange-10: oklch(72.9% 0.1562 62.61);
      --orange-11: oklch(79.9% 0.1562 62.61);
      --orange-12: oklch(92.5% 0.0502 62.61);

      --orange-a1: color(display-p3 0.9451 0 0 / 0.013);
      --orange-a2: color(display-p3 0.9961 0.6235 0.3059 / 0.074);
      --orange-a3: color(display-p3 1 0.6 0.1451 / 0.147);
      --orange-a4: color(display-p3 1 0.4863 0 / 0.221);
      --orange-a5: color(display-p3 1 0.5216 0.0392 / 0.278);
      --orange-a6: color(display-p3 1 0.5922 0.1529 / 0.339);
      --orange-a7: color(display-p3 1 0.6392 0.2627 / 0.425);
      --orange-a8: color(display-p3 1 0.651 0.2706 / 0.56);
      --orange-a9: color(display-p3 1 0.6706 0.3176 / 0.915);
      --orange-a10: color(display-p3 1 0.6588 0.2824 / 0.866);
      --orange-a11: color(display-p3 1 0.6902 0.3529 / 0.947);
      --orange-a12: color(display-p3 1 0.902 0.8 / 0.98);

      --orange-contrast: #fff;
      --orange-surface: color(display-p3 0.1725 0.1255 0.0784 / 0.5);
      --orange-indicator: oklch(76.4% 0.1562 62.61);
      --orange-track: oklch(76.4% 0.1562 62.61);
      --gray-1: oklch(14.5% 0 none);
      --gray-2: oklch(20.5% 0 none);
      --gray-3: oklch(24.8% 0 none);
      --gray-4: oklch(28% 0 none);
      --gray-5: oklch(31% 0 none);
      --gray-6: oklch(34.7% 0 none);
      --gray-7: oklch(39.9% 0 none);
      --gray-8: oklch(48.8% 0 none);
      --gray-9: oklch(53.3% 0 none);
      --gray-10: oklch(57.9% 0 none);
      --gray-11: oklch(76.6% 0 none);
      --gray-12: oklch(94.7% 0 none);

      --gray-a1: color(display-p3 0 0 0 / 0);
      --gray-a2: color(display-p3 1 1 1 / 0.0531);
      --gray-a3: color(display-p3 1 1 1 / 0.0939);
      --gray-a4: color(display-p3 1 1 1 / 0.1265);
      --gray-a5: color(display-p3 1 1 1 / 0.1551);
      --gray-a6: color(display-p3 1 1 1 / 0.1959);
      --gray-a7: color(display-p3 1 1 1 / 0.249);
      --gray-a8: color(display-p3 1 1 1 / 0.351);
      --gray-a9: color(display-p3 1 1 1 / 0.4);
      --gray-a10: color(display-p3 1 1 1 / 0.4571);
      --gray-a11: color(display-p3 1 1 1 / 0.6898);
      --gray-a12: color(display-p3 1 1 1 / 0.9265);

      --gray-contrast: #ffffff;
      --gray-surface: color(display-p3 0 0 0 / 5%);
      --gray-indicator: oklch(53.3% 0 none);
      --gray-track: oklch(53.3% 0 none);

      --green-1: oklch(14.5% 0.0142 149);
      --green-2: oklch(20.5% 0.0175 149);
      --green-3: oklch(26.7% 0.0421 149);
      --green-4: oklch(31.6% 0.0629 149);
      --green-5: oklch(36.4% 0.0726 149);
      --green-6: oklch(41.3% 0.0809 149);
      --green-7: oklch(46.7% 0.0917 149);
      --green-8: oklch(52.7% 0.1065 149);
      --green-9: oklch(58.5% 0.1482 149);
      --green-10: oklch(54.2% 0.1065 149);
      --green-11: oklch(78% 0.1482 149);
      --green-12: oklch(90.5% 0.091 149);

      --green-a1: color(display-p3 0 0.9137 0 / 0.009);
      --green-a2: color(display-p3 0.6353 0.9922 0.6353 / 0.066);
      --green-a3: color(display-p3 0.5333 1 0.5647 / 0.135);
      --green-a4: color(display-p3 0.502 1 0.5216 / 0.196);
      --green-a5: color(display-p3 0.5333 1 0.549 / 0.254);
      --green-a6: color(display-p3 0.5569 1 0.5961 / 0.311);
      --green-a7: color(display-p3 0.5765 1 0.6078 / 0.38);
      --green-a8: color(display-p3 0.5882 1 0.6078 / 0.458);
      --green-a9: color(display-p3 0.4941 1 0.5294 / 0.552);
      --green-a10: color(display-p3 0.6039 1 0.6275 / 0.474);
      --green-a11: color(display-p3 0.6392 1 0.6588 / 0.805);
      --green-a12: color(display-p3 0.8078 1 0.8157 / 0.935);

      --green-contrast: #fff;
      --green-surface: color(display-p3 0.1098 0.1569 0.1098 / 0.5);
      --green-indicator: oklch(58.5% 0.1482 149);
      --green-track: oklch(58.5% 0.1482 149);

      --blue-1: oklch(14.5% 0.027 259.3);
      --blue-2: oklch(20.1% 0.0329 259.3);
      --blue-3: oklch(26.8% 0.0756 259.3);
      --blue-4: oklch(31.7% 0.1017 259.3);
      --blue-5: oklch(36.1% 0.114 259.3);
      --blue-6: oklch(40.3% 0.1206 259.3);
      --blue-7: oklch(45% 0.1312 259.3);
      --blue-8: oklch(50.3% 0.1497 259.3);
      --blue-9: oklch(53% 0.2085 259.3);
      --blue-10: oklch(48.3% 0.1497 259.3);
      --blue-11: oklch(77.7% 0.1345 259.3);
      --blue-12: oklch(91.1% 0.0467 259.3);

      --blue-a1: color(display-p3 0 0.0431 0.9961 / 0.041);
      --blue-a2: color(display-p3 0.2235 0.4824 0.9922 / 0.107);
      --blue-a3: color(display-p3 0.1804 0.4471 1 / 0.249);
      --blue-a4: color(display-p3 0.1843 0.4392 1 / 0.356);
      --blue-a5: color(display-p3 0.2196 0.4627 1 / 0.433);
      --blue-a6: color(display-p3 0.2706 0.5098 1 / 0.494);
      --blue-a7: color(display-p3 0.298 0.5294 1 / 0.58);
      --blue-a8: color(display-p3 0.302 0.5333 1 / 0.686);
      --blue-a9: color(display-p3 0.1765 0.4353 1 / 0.845);
      --blue-a10: color(display-p3 0.2784 0.5176 1 / 0.658);
      --blue-a11: color(display-p3 0.5647 0.7294 1 / 0.976);
      --blue-a12: color(display-p3 0.8431 0.898 1 / 0.988);

      --blue-contrast: #fff;
      --blue-surface: color(display-p3 0.0784 0.1333 0.2431 / 0.5);
      --blue-indicator: oklch(53% 0.2085 259.3);
      --blue-track: oklch(53% 0.2085 259.3);

      --yellow-1: oklch(14.5% 0.0129 90.38);
      --yellow-2: oklch(20.5% 0.0181 90.38);
      --yellow-3: oklch(25.5% 0.0446 90.38);
      --yellow-4: oklch(29.4% 0.0721 90.38);
      --yellow-5: oklch(33.6% 0.082 90.38);
      --yellow-6: oklch(38.6% 0.0793 90.38);
      --yellow-7: oklch(45.3% 0.0827 90.38);
      --yellow-8: oklch(53.6% 0.0975 90.38);
      --yellow-9: oklch(86.5% 0.1768 90.38);
      --yellow-10: oklch(83.4% 0.1768 90.38);
      --yellow-11: oklch(87.4% 0.1768 90.38);
      --yellow-12: oklch(93.6% 0.0728 90.38);

      --yellow-a1: color(display-p3 0.9137 0.0392 0 / 0.009);
      --yellow-a2: color(display-p3 0.9882 0.8627 0.3569 / 0.062);
      --yellow-a3: color(display-p3 1 0.7608 0.0706 / 0.131);
      --yellow-a4: color(display-p3 1 0.7294 0 / 0.188);
      --yellow-a5: color(display-p3 1 0.749 0.0706 / 0.237);
      --yellow-a6: color(display-p3 1 0.8118 0.1373 / 0.29);
      --yellow-a7: color(display-p3 1 0.8314 0.2941 / 0.372);
      --yellow-a8: color(display-p3 1 0.8353 0.3216 / 0.478);
      --yellow-a9: color(display-p3 1 0.8353 0.2824 / 0.968);
      --yellow-a10: color(display-p3 1 0.8235 0.2745 / 0.927);
      --yellow-a11: color(display-p3 1 0.8471 0.2941 / 0.968);
      --yellow-a12: color(display-p3 1 0.9412 0.7412 / 0.976);

      --yellow-contrast: #292109;
      --yellow-surface: color(display-p3 0.1647 0.1412 0.0784 / 0.5);
      --yellow-indicator: oklch(86.5% 0.1768 90.38);
      --yellow-track: oklch(86.5% 0.1768 90.38);

      --red-1: oklch(14.5% 0.0133 23.01);
      --red-2: oklch(19.8% 0.0215 23.01);
      --red-3: oklch(24.7% 0.0642 23.01);
      --red-4: oklch(28.7% 0.0957 23.01);
      --red-5: oklch(33.1% 0.1064 23.01);
      --red-6: oklch(38.2% 0.1112 23.01);
      --red-7: oklch(45% 0.1205 23.01);
      --red-8: oklch(54.3% 0.1463 23.01);
      --red-9: oklch(58.4% 0.1932 23.01);
      --red-10: oklch(54% 0.1463 23.01);
      --red-11: oklch(78.4% 0.1616 23.01);
      --red-12: oklch(90.2% 0.0528 23.01);

      --red-a1: color(display-p3 0.9647 0 0 / 0.017);
      --red-a2: color(display-p3 0.9961 0.5176 0.4118 / 0.074);
      --red-a3: color(display-p3 1 0.2863 0.2431 / 0.176);
      --red-a4: color(display-p3 1 0.2078 0.1922 / 0.258);
      --red-a5: color(display-p3 1 0.2706 0.2706 / 0.323);
      --red-a6: color(display-p3 1 0.3608 0.3412 / 0.392);
      --red-a7: color(display-p3 1 0.4235 0.4 / 0.49);
      --red-a8: color(display-p3 1 0.4392 0.4275 / 0.645);
      --red-a9: color(display-p3 1 0.349 0.3529 / 0.764);
      --red-a10: color(display-p3 1 0.4353 0.4235 / 0.641);
      --red-a11: color(display-p3 1 0.6196 0.5882 / 0.939);
      --red-a12: color(display-p3 1 0.8549 0.8353 / 0.972);

      --red-contrast: #fff;
      --red-surface: color(display-p3 0.1882 0.102 0.0941 / 0.5);
      --red-indicator: oklch(58.4% 0.1932 23.01);
      --red-track: oklch(58.4% 0.1932 23.01);
    }
  }
}

@import "@radix-ui/themes/components.css";
@import "@radix-ui/themes/utilities.css";

.theme-root {
  min-height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
}

:root {
  --color-background: #ffffff;
  --code-font-family: "IBM Plex Mono", monospace;
}

[data-theme="dark"] {
  --color-background: #0a0a0a;
  --code-font-family: "IBM Plex Mono", monospace;
}

