/* Mobile devices */
@media only screen and (max-width: 736px) {

    h1,
    h2,
    h3,
    h4 {
        line-height: 28pt;
    }

    iframe#drift-widget.drift-widget-welcome-expanded-online {
        display: none !important;
    }

    iframe#drift-widget.drift-widget-welcome-expanded-away {
        display: none !important;
    }

    body {
        background-size: 60% 20vh !important;
    }

    .docsNavContainer .toc .navBreadcrumb {
        background-color: #000000;
    }

    .docsNavContainer {
        background-color: #000000;
    }

    .tech-stack-item-name-container {
        padding-left: 10px !important;
    }

    #tech-stack-post-selection-email-container input {
        width: 100% !important;
    }

    .compatibility-select-container select {
        width: 100% !important;
    }

    .compatibility-table {
        width: 100% !important;
    }
}

/* Tablets portrait only*/
@media only screen and (min-width: 737px) and (max-width: 834px) {}

/* Tablets only */
@media only screen and (min-width: 737px) and (max-width: 1023px) {
    .docsNavContainer .toc .navBreadcrumb {
        background-color: #000000;
    }

    .docsNavContainer {
        background-color: #000000;
    }

    #tech-stack-post-selection-email-container input {
        width: 50vw !important;
    }

    .compatibility-select-container select {
        width: 40vw !important;
    }

    .compatibility-table {
        width: 80vw !important;
    }
}

/* Tablets and mobiles */
@media only screen and (max-width: 1023px) {
    body {
        background-size: 0px 0px !important;
    }

    .hover-child {
        max-width: 80vw;
    }

    .fixedHeaderContainer {
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    }

    .docsNavContainer .toc .navBreadcrumb {
        background-color: #363636;
    }

    .navBreadcrumb span {
        color: white;
    }

    .line1,
    .line2,
    .line3 {
        background-color: white;
    }

    .docsNavContainer {
        background-color: #f2f2f2;
    }

    .docsSliderActive .toc .navBreadcrumb,
    .tocActive .navBreadcrumb {
        border-bottom-color: #f2f2f2;
    }

    .navPusher {
        min-height: 60vh;
    }

    .navigationSlider .slidingNav {
        background-color: #1a1a1a;
    }

    .navigationSlider .slidingNav ul {
        background-color: #292929;
        margin-bottom: 0px !important;
        box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.16)
    }

    .siteNavGroupActive {
        background-color: #4c4949;
    }

    #tech-stack-page-title-subtext {
        margin-top: 20px;
    }

    #tech-stack-post-selection-email-container {
        flex-direction: column;
    }


    #tech-stack-post-selection-email-container {
        align-items: flex-start;
    }

    #tech-stack-email-submit {
        margin-top: 10px;
    }

    #tech-stack-email-success-container {
        margin-top: 10px;
    }
}

/* most 13inch desktops/laptops */
@media only screen and (min-width: 1024px) {
    .docsNavContainer {
        flex: 0 0 290px
    }

    #tech-stack-page-title-subtext {
        margin-top: 10px;
    }

    #tech-stack-post-selection-email-container {
        justify-content: flex-start;
        align-items: center;
    }

    #tech-stack-email-submit {
        margin-left: 10px;
    }

    #tech-stack-email-success-container {
        margin-left: 20px;
    }
}

/* High resolution laptops and desktop */
@media only screen and (min-width: 1400px) {}

/* Retina and 15inch laptops/desktops */
@media only screen and (min-width: 1500px) {}

.divider {
    background-color: #222222;
    height: 2px;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.hover-root {
    position: relative;
}

.hover-text {
    cursor: pointer;
    background-color: #5856d6;
    color: #ffffff;
}

.hover-child {
    visibility: hidden;
    position: absolute;
    background-color: #222222;
    width: 374pt;
    padding: 20pt;
    border-radius: 12px;
    z-index: 1;
    color: #ffffff
}

.hover-child strong {
    color: #ffffff;
}

body {
    background-color: #1a1a1a;
    color: white;
    display: none;
    font-size: 16px;
    font-family: 'Rubik' !important;
    z-index: 0;
}

html {
    scroll-behavior: smooth;
    background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0.5em;
}

h1 {
    font-size: 26px;
    text-align: left;
    color: white;
    text-decoration: underline;
    margin-bottom: 20px;
    font-weight: bold;
}

h2 {
    font-size: 20px;
    text-align: left;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
}

h3 {
    font-size: 18px;
    text-align: left;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
}

h4 {
    font-size: 16px;
    text-align: left;
    color: white;
    font-weight: bold;
}

.header-4 {
    font-size: 14pt;
    text-align: left;
    color: #222222;
    font-weight: 500;
}

p {
    color: white;
    /* margin-right: 15vw; */
}

.consequence-mitigation-text {
    padding-right: 15vw;
    white-space: normal;
}

li {
    color: white;
}

a {
    color: #58a6ff;
    font-style: italic;
}

a code {
    text-decoration: underline;
}

a:hover {
    color: #58a6ff;
    text-decoration: underline;
}

strong {
    color: white;
    font-weight: 500;
}

b {
    color: #222222;
    font-weight: 500;
}

.headerTitleWithLogo {
    display: none !important;
}

.fixedHeaderContainer {
    background-color: rgb(26, 26, 26);
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.fixedHeaderContainer header img {
    height: 30px
}

.navigationSlider .slidingNav ul li.siteNavGroupActive>a,
.navigationSlider .slidingNav ul li.siteNavItemActive>a,
.navigationSlider .slidingNav ul li>a:focus,
.navigationSlider .slidingNav ul li>a:hover {
    background-color: transparent !important;
    font-style: normal !important;
    text-decoration: none !important;
}

.navigationSlider .slidingNav ul li a {
    transition: none !important;
}

.toc .toggleNav ul li.navListItemActive a {
    color: rgb(255, 153, 51);
}

.toc .toggleNav ul li a {
    color: white;
    text-decoration: none;
    padding-left: 20px;
    font-style: normal;
}

.navGroup a {
    color: #222222;
    text-decoration: none;
    font-style: normal;
}

.toc .toggleNav ul li a:hover {
    color: rgb(255, 153, 51);
}

.navGroup a:hover {
    color: #007bff
}

.toc .toggleNav .navGroup .navGroupSubcategoryTitle {
    padding-left: 20px;
    color: white;
    font-weight: normal;
}

.toc .toggleNav .navGroup .navGroupSubcategoryTitle:hover {
    color: rgb(255, 153, 51);
}

.toc .toggleNav .subNavGroup .navListItem .navItem {
    padding-left: 40px;
}

.toggleNav h2 i {
    font-size: 0px
}

.toc .toggleNav .navGroup .navGroupCategoryTitle {
    color: #222222;
    font-size: 16px;
    font-weight: 500;
}

.toc .toggleNav .navGroup .navGroupCategoryTitle:hover {
    color: rgb(255, 153, 51);
}

.toc .toggleNav .navGroup .navGroupSubcategoryTitle:hover .arrow.rotate path[d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z"] {
    fill: rgb(255, 153, 51);
}

.toc .toggleNav .navGroup .navGroupSubcategoryTitle:hover .arrow path[d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z"] {
    fill: rgb(255, 153, 51);
}

.toc .toggleNav .navGroup .navGroupCategoryTitle:hover .arrow.rotate path[d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z"] {
    fill: rgb(255, 153, 51);
}

.toc .toggleNav .navGroup .navGroupCategoryTitle:hover .arrow path[d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z"] {
    fill: rgb(255, 153, 51);
}

.feedback-button-happy {
    height: 30px;
    width: 40px;
    content: url("/docs/static/assets/docsFeedbackYes.png");
    background-size: 30px 40px;
    margin-left: 20px;
    cursor: pointer;
}

.feedback-button-happy.selected {
    content: url("/docs/static/assets/docsFeedbackYesSelected.png");
}

.feedback-button-happy:hover {
    content: url("/docs/static/assets/docsFeedbackYesSelected.png");
}

.feedback-button-sad {
    height: 30px;
    width: 40px;
    content: url("/docs/static/assets/docsFeedbackNo.png");
    background-size: 30px 40px;
    cursor: pointer;
}

.feedback-button-sad.selected {
    content: url("/docs/static/assets/docsFeedbackNoSelected.png");
}

.feedback-button-sad:hover {
    content: url("/docs/static/assets/docsFeedbackNoSelected.png");
}

.headerWrapper.wrapper {
    padding-right: 90px;
}

.docs-prev:hover {
    color: #222222;
}

.docs-next:hover {
    color: #222222;
}

.navigationSlider .slidingNav ul li a:hover,
.navigationSlider .slidingNav ul li.siteNavItemActive a,
.navigationSlider .slidingNav ul li.siteNavGroupActive a {
    color: white;
}

.navigationSlider .slidingNav ul li a {
    color: #c4c4c4;
    text-decoration: none;
    font-style: normal;
    padding-right: 19px;
    padding-left: 19px;
}

.post h1 {
    text-decoration: none;
}

.tabs {
    border-top: none;
}

.nav-tabs {
    border-bottom-color: transparent;
    background-color: #fafafa;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-width: 1px;
    border-style: solid;
    border-color: #1a1a1a;
    border-bottom-width: 4px;
    background-color: #2E3440;
    color: #ffffff;
    margin-bottom: 10px;
}

.tab-content > div > div:first-child > span:first-child > pre {
    position: relative;
    top: -10px;
}

.tabs .nav-tabs>div.active {
    border-bottom-color: #ff9933;
}

.st-spinner {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    animation: spin 1.3s linear infinite;
    height: 60px;
    width: 60px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#tech-stack-root {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#tech-stack-page-title {
    font-size: 22px;
    font-weight: bold;
    color: #d64d78;
}

#tech-stack-page-title-subtext {
    font-size: 18px;
    font-weight: normal;
}

.tech-stack-section-title {
    font-size: 18px;
    font-weight: 500;
    margin-top: 60px;
    margin-bottom: 10px;
}

.tech-stack-title-database {
    margin-top: 30px !important;
}

.tech-stack-items-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.tech-stack-item-root {
    height: 60px;
    border-radius: 12px;
    border-width: 1px;
    border-style: solid;
    border-color: #dddddd;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.16);
    cursor: pointer;
    display: flex;
    margin-top: 10px;
    margin-right: 10px;
    position: relative;
    transition: opacity ease-in-out 0.15s;
    -moz-transition: opacity ease-in-out 0.15s;
    -webkit-transition: opacity ease-in-out 0.15s;
}

.tech-stack-selected-icon {
    position: absolute;
    height: 18px;
    width: 18px;
    display: none;
    top: 50%;
    left: 60px;
    transform: translate(-50%, -50%);
}

.tech-stack-item-root.selected {
    border-color: #d64f78;
}

.tech-stack-item-root.selected .tech-stack-selected-icon {
    display: block;
}

.tech-stack-item-root.selected .tech-stack-item-image-container {
    border-right-color: #d64f78;
}

.tech-stack-item-image-container {
    height: 58px;
    /* 60px parent height - 2px for borders */
    width: 60px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    overflow: hidden;
    background-color: #f2f2f2;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #dddddd;
}

.tech-stack-item-image {}

.tech-stack-item-name-container {
    height: 100%;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: #f8f8f8;
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    align-items: center;
}

.tech-stack-item-name {
    font-size: 16px;
}

.header-version-text {
    margin-left: 10px;
}

.fixedHeaderContainer a.header-version-text h3 {
    color: #58a6ff;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    align-items: center;
    justify-content: center;
}

#tech-stack-post-selection-root {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding-top: 40px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #dddddd;
    margin-top: 40px;
}

.tech-stack-post-selection-text {
    font-size: 16px;
}

.tech-stack-post-selection-emoji {
    font-size: 20px;
}

#tech-stack-post-selection-next {
    border-radius: 12px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    background-color: #2c68ff;
    margin-top: 20px;
    font-style: normal;
    text-decoration: none;
}

#tech-stack-post-selection-email-container {
    display: flex;
    margin-top: 10px;
    position: relative;
}

#tech-stack-post-selection-email-container input {
    height: 40px;
    width: 23vw;
    background-color: #f2f2f2;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 12px;
    font-size: 18px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    font-weight: normal;
    outline: none;
    border-width: 1px;
    border-color: #dddddd;
    border-style: solid;
}

#tech-stack-post-selection-email-container input::placeholder {
    color: rgba(34, 34, 34, 0.4);
}

#tech-stack-post-selection-email-container input::-moz-placeholder {
    color: rgba(34, 34, 34, 0.4);
}

#tech-stack-post-selection-email-container input::-webkit-input-placeholder {
    color: rgba(34, 34, 34, 0.4);
}

#tech-stack-post-selection-email-container input:-ms-input-placeholder {
    color: rgba(34, 34, 34, 0.4);
}

#tech-stack-email-submit {
    border-radius: 12px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 9px;
    padding-bottom: 9px;
    cursor: pointer;
    color: #ffffff;
    font-size: 18px;
    background-color: #266dff;
    transition: background-color ease-in-out 0.2s;
    -moz-transition: background-color ease-in-out 0.2s;
    -webkit-transition: background-color ease-in-out 0.2s;
}

#tech-stack-email-submit.disabled {
    background-color: #dddddd;
}

#tech-stack-email-error {
    position: absolute;
    left: 0px;
    top: calc(100% + 10px);
    font-size: 14px;
    color: #d65578;
}

#tech-stack-email-success-container {
    display: flex;
    align-items: center;
}

#tech-stack-email-success-image {
    width: 12px;
    height: 17px;
}

#tech-stack-email-success-text {
    font-size: 14px;
    font-weight: bold;
    margin-left: 10px;
}

.compatibility-select-title {
    font-size: 18px;
    font-weight: 500;
}

.compatibility-select-container select {
    border-width: 1px !important;
    border-color: #9E9E9E !important;
    border-style: solid !important;

    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    padding-left: 20px;
    display: flex;
    align-items: center;
    font-size: 16px;
    outline: none !important;

    display: flex;
    margin: 1.5rem 0 2rem 0;
    background-color: #1a1a1a;
    border-radius: 6px !important;
    background-image: url(/static/assets/use-oss/select.svg);
    background-repeat: no-repeat;
    background-position: right;
    color: #fff;
    height: 36px;
    background-size: auto !important;
    border-color: #ddd;
    border-radius: 6px;
    width: 220px;
}

.compatibility-select-container select:disabled {
    background-image: url(/static/assets/signupDropdownIconDisabled.png) !important;
    color: rgba(34, 34, 34, 0.6);
}

.compatibility-select-container select:invalid {
    color: rgba(34, 34, 34, 0.6);
}

.compatibility-select-container select::-ms-expand {
    display: none;
}

.compatibility-table-section-container {
    display: flex;
}

.compatibility-table {
    width: 48.5vw;
    display: flex;
    flex-direction: column;
}

.compatibility-table-header-row {
    width: 100%;
    display: flex;
}

.compatibility-table-header {
    width: calc((100%) / 2);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #002372;
    display: flex;
}

.compatibility-table-row {
    width: 100%;
    display: flex;
}

.compatibility-table-col {
    width: calc((100%) / 2);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 20px;
    font-size: 18px;
}

.compatibility-table-header-text {
    font-size: 18px;
    color: #ffffff;
}

code {
    background-color: rgb(62, 62, 62);
    border-color: rgb(78, 78, 78);
    border-width: 1px;
    border-style: solid;
    color: white;
}

.toc {
    border-right-color: rgb(64, 64, 64);
    border-style: solid;
    height: 100%;
    border-right-width: 1px;
}

.proFeatureText {
    color: #5856d6;
}

.edit-conf-action-button {
    border-radius: 6px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    padding: 4px 16px;
    margin: 6px;
    background-color: rgb(34, 34, 34);
    color: white;
    font-size: 14px;
    font-weight: 500;
    width: max-content;
    display: inline-block;
}

.connect-action-button {
    border-radius: 6px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    padding: 4px 16px;
    margin: 6px;
    background-color: rgb(0, 122, 255);
    color: white;
    font-size: 14px;
    font-weight: 500;
    width: max-content;
    display: inline-block;
}

/* "Copy" code block button */
pre {
    position: relative;
  }
  
pre .btnIcon {
    position: absolute;
    top: 4px;
    z-index: 2;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 0;
    color: #fff;
    background-color: transparent;
    height: 30px;
    transition: all .25s ease-out;
}

pre .btnIcon:hover {
    text-decoration: none;
}

.btnIcon__body {
    align-items: center;
    display: flex;
}

.btnIcon svg {
    fill: currentColor;
    margin-right: .4em;
}

.btnIcon__label {
    color: #fff;
    font-size: 11px;
}

.btnClipboard {
    right: 10px;
}

.cc-window a {
    font-style: normal;
}

.cc-window {
    opacity: 1;
    -webkit-transition: opacity 1s ease;
    transition: opacity 1s ease;
}
.cc-window.cc-invisible {
    opacity: 0;
}
.cc-animate.cc-revoke {
    -webkit-transition: transform 1s ease;
    -webkit-transition: -webkit-transform 1s ease;
    transition: -webkit-transform 1s ease;
    transition: transform 1s ease;
    transition: transform 1s ease, -webkit-transform 1s ease;
}
.cc-animate.cc-revoke.cc-top {
    -webkit-transform: translateY(-2em);
    transform: translateY(-2em);
}
.cc-animate.cc-revoke.cc-bottom {
    -webkit-transform: translateY(2em);
    transform: translateY(2em);
}
.cc-animate.cc-revoke.cc-active.cc-top {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.cc-animate.cc-revoke.cc-active.cc-bottom {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.cc-revoke:hover {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.cc-grower {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 1s;
    transition: max-height 1s;
}
.cc-revoke,
.cc-window {
    position: fixed;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Helvetica, Calibri, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    z-index: 9999;
}
.cc-window.cc-static {
    position: static;
}
.cc-window.cc-floating {
    padding: 1em;
    max-width: 24em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.cc-window.cc-banner {
    padding: 1em 1.8em;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}
.cc-revoke {
    padding: 0.5em;
}
.cc-revoke:hover {
    text-decoration: underline;
}
.cc-header {
    font-size: 18px;
    font-weight: 700;
}
.cc-btn,
.cc-close,
.cc-link,
.cc-revoke {
    cursor: pointer;
}
.cc-link {
    opacity: 0.8;
    display: inline-block;
    padding: 0.2em;
    text-decoration: underline;
}
.cc-link:hover {
    opacity: 1;
}
.cc-link:active,
.cc-link:visited {
    color: initial;
}
.cc-btn {
    display: block;
    padding: 0.3em 0.6em;
    font-size: 0.8em;
    font-weight: 700;
    border-width: 2px;
    border-style: solid;
    text-align: center;
    white-space: nowrap;
}
.cc-highlight .cc-btn:first-child {
    background-color: transparent;
    border-color: transparent;
}
.cc-highlight .cc-btn:first-child:focus,
.cc-highlight .cc-btn:first-child:hover {
    background-color: transparent;
    text-decoration: underline;
}
.cc-close {
    display: block;
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    font-size: 1.6em;
    opacity: 0.9;
    line-height: 0.75;
}
.cc-close:focus,
.cc-close:hover {
    opacity: 1;
}
.cc-revoke.cc-top {
    top: 0;
    left: 3em;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}
.cc-revoke.cc-bottom {
    bottom: 0;
    left: 3em;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}
.cc-revoke.cc-left {
    left: 3em;
    right: unset;
}
.cc-revoke.cc-right {
    right: 3em;
    left: unset;
}
.cc-top {
    top: 1em;
}
.cc-left {
    left: 1em;
}
.cc-right {
    right: 1em;
}
.cc-bottom {
    bottom: 1em;
}
.cc-floating > .cc-link {
    margin-bottom: 1em;
}
.cc-floating .cc-message {
    display: block;
    margin-bottom: 1em;
}
.cc-window.cc-floating .cc-compliance {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}
.cc-window.cc-banner {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.cc-banner.cc-top {
    left: 0;
    right: 0;
    top: 0;
}
.cc-banner.cc-bottom {
    left: 0;
    right: 0;
    bottom: 0;
}
.cc-banner .cc-message {
    display: block;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    max-width: 100%;
    margin-right: 1em;
}
.cc-compliance {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: justify;
    align-content: space-between;
}
.cc-floating .cc-compliance > .cc-btn {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.cc-btn + .cc-btn {
    margin-left: 0.5em;
}
@media print {
    .cc-revoke,
    .cc-window {
        display: none;
    }
}
@media screen and (max-width: 900px) {
    .cc-btn {
        white-space: normal;
    }
}
@media screen and (max-width: 414px) and (orientation: portrait),
    screen and (max-width: 736px) and (orientation: landscape) {
    .cc-window.cc-floating {
        padding: 6px 16px 8px 16px;
    }
    .cc-window.cc-top {
        top: 0;
    }
    .cc-window.cc-bottom {
        bottom: 0;
    }
    .cc-window.cc-banner,
    .cc-window.cc-floating,
    .cc-window.cc-left,
    .cc-window.cc-right {
        left: 0;
        right: 0;
    }
    .cc-window.cc-banner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .cc-window.cc-banner .cc-compliance {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    }
    .cc-window.cc-floating {
        max-width: none;
    }
    .cc-window .cc-message {
        margin-bottom: .5rem;
    }
    .cc-window.cc-banner {
        -webkit-box-align: unset;
        -ms-flex-align: unset;
        align-items: unset;
    }
    .cc-window.cc-banner .cc-message {
        margin-right: 0;
    }
}
.cc-floating.cc-theme-classic {
    padding: 1.2em;
    border-radius: 5px;
}
.cc-floating.cc-type-info.cc-theme-classic .cc-compliance {
    text-align: center;
    display: inline;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
}
.cc-theme-classic .cc-btn {
    border-radius: 5px;
}
.cc-theme-classic .cc-btn:last-child {
    min-width: 140px;
}
.cc-floating.cc-type-info.cc-theme-classic .cc-btn {
    display: inline-block;
}
.cc-theme-edgeless.cc-window {
    padding: 0;
}
.cc-floating.cc-theme-edgeless .cc-message {
    margin: 2em;
    margin-bottom: 1.5em;
}
.cc-banner.cc-theme-edgeless .cc-btn {
    margin: 0;
    padding: 0.8em 1.8em;
    height: 100%;
}
.cc-banner.cc-theme-edgeless .cc-message {
    margin-left: 1em;
}
.cc-floating.cc-theme-edgeless .cc-btn + .cc-btn {
    margin-left: 0;
}
#ccbtn-dismisscookie {
    border: 0;
    cursor: pointer;
    position: relative;
    height: 24px;
    width: 24px;
    background-color: black;
    margin-bottom: 8px;
}
.cc-floating .cc-compliance > .cc-btn {
    flex: none;
}
.cc-window.cc-floating .cc-compliance {
    justify-content: space-evenly;
}

.cc-message {
    font-size: .875rem;
}

.cc-close-icon {
    top: 0;
    left: 0;
    opacity: 1;
  }
  .cc-close-icon:before, .cc-close-icon:after {
    position: absolute;
    top: 4px;
    content: ' ';
    height: 20px;
    width: 2px;
    background-color: #fdcc00;
  }
  .cc-close-icon:before {
    transform: rotate(45deg);
  }
  .cc-close-icon:after {
    transform: rotate(-45deg);
  }


  /* docs dark theme */
.docsNavContainer {
    background-color: #1a1a1a;
}

.container.mainContainer > .wrapper {
    padding: 0;
    padding-top: .5rem;
    margin: 0;
}

@media screen and (min-width: 768px) {
    .container.mainContainer {
        display: flex;
    }
    .container.mainContainer > .wrapper {
        margin: 0 auto;
        max-width: 60ch;
    }
}

@media screen and (min-width: 1024px) {
    .docsNavContainer + .container.mainContainer > .wrapper {
        margin-left: 0;
    }
}

@media screen and (min-width: 1280px) {
    .docsNavContainer + .container.mainContainer > .wrapper {
        margin-left: 3rem;
    }
}

@media screen and (min-width: 1366px) {
    .docsNavContainer + .container.mainContainer > .wrapper {
        margin-left: 5rem;
    }
}

@media screen and (min-width: 1440px) {
    .docsNavContainer + .container.mainContainer > .wrapper {
        margin-left: 7rem;
    }
}

@media screen and (min-width: 1600px) {
    .docsNavContainer + .container.mainContainer > .wrapper {
        margin-left: 9rem;
    }
}

@media screen and (min-width: 1700px) {
    .docsNavContainer + .container.mainContainer > .wrapper {
        max-width: 820px;
        margin: 0 auto;
    }
}

/* center docs without sidebar */
@media screen and (min-width: 1024px) {
    .container.mainContainer > .wrapper {
        margin: 0 auto;
    }
    .container.mainContainer.versionsContainer > .wrapper {
        margin-left: 0;
    }
}

@media screen and (min-width: 1280px) {
    .container.mainContainer > .wrapper {
        margin: 0 auto;
    }
    .container.mainContainer.versionsContainer > .wrapper {
        margin-left: 3rem;
    }
}

@media screen and (min-width: 1366px) {
    .container.mainContainer > .wrapper {
        margin: 0 auto;
    }
    .container.mainContainer.versionsContainer > .wrapper {
        margin-left: 5rem;
    }
}

@media screen and (min-width: 1440px) {
    .container.mainContainer > .wrapper {
        margin: 0 auto;
    }
    .container.mainContainer.versionsContainer > .wrapper {
        margin-left: 7rem;
    }
}

@media screen and (min-width: 1600px) {
    .container.mainContainer > .wrapper {
        margin: 0 auto;
    }
    .container.mainContainer.versionsContainer > .wrapper {
        margin-left: 9rem;
    }
}
@media screen and (min-width: 1700px) {
    .container.mainContainer > .wrapper {
        max-width: 820px;
        margin: 0 auto;
    }
    .container.mainContainer.versionsContainer > .wrapper {
        margin: 0 auto;
    }
}

/*  */

.toc .toggleNav .navGroup .navGroupCategoryTitle {
    color: white;
}

.docMainWrapper {
    background-color: #1a1a1a;
}

#footer-container {
    border-top: 1px solid rgb(64, 64, 64) !important;
}

blockquote {
    background-color: rgb(255, 235, 217);
    border-left: 8px solid #ff9a32;
    padding: 15px 30px 15px 15px;
}
blockquote > p {
    color: black;
}

.specialNote div {
    color: black !important;
}
.specialNote li {
    color: black;
}
.specialNote p {
    color: black;
}

.navigationSlider .slidingNav ul li:hover {
    color: white;
}

pre {
    margin-top: 1rem;
}

li img {
    margin-top: 1rem;
}

.versions tr {
    background-color: #363636;
}
.versions th {
    color: white;
}
.versions tr:nth-child(2n) {
    background-color: #292929;
}

h1:hover a svg, h2:hover a svg, h3:hover a svg, h4:hover a svg {
    fill: white;
}

.toc .toggleNav ul li a:focus {
    color: white;
}

@media screen and (min-width: 1024px) {
    .navigationSlider .slidingNav ul li:nth-of-type(2n) {
        order: 1;
    }
    .navigationSlider .slidingNav ul li a[href="/discord"] {
        border: 1px solid #cc6600;
        border-radius: 6px;
        background-color: #ff9933;
        color: white;
        font-weight: 500;
    }
    .navigationSlider .slidingNav ul li a[href="/blog"] {
        margin-right: 1rem;
    }

    .navigationSlider .slidingNav ul li a[href="/discord"]:hover {
        background-color: rgb(255, 141, 28) !important;
    }

    .navigationSlider .slidingNav ul li a[href="/discord"]:focus {
        background-color: rgb(255, 141, 28) !important;
    }
}

/* doc-serach */
.algolia-autocomplete > input {
    border: 1px solid black;
    border-radius: 6px;
    font-family: Rubik;
    background-color: #363636;
    color: #ddd;
    margin-left: 1rem;
    padding: .5rem;
}