.toggle-grid-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .toggle-grid-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .toggle-grid-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

.toggle-grid-list__item {
  padding: 16px;

  background: #232323;
  border: 1px solid #2e2e2e;
  border-radius: 13px;

  font-style: normal;
  font-weight: 600;
  font-size: 1rem;

  cursor: pointer;
  color: #b2b2b2;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
}

.toggle-grid-list__item:hover {
  border: 1px solid rgba(255, 153, 51, 0.3);
  color: #b2b2b2 !important;
}

.toggle-grid-list__item[data-selected="true"] {
  border: 1px solid rgba(255, 153, 51, 0.3);
  color: white !important;
}

.toggle-grid-list__item-logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.toggle-grid-list__item-title {
  font-size: 16px;
}
