@media only screen and (max-width: 736px) {
  .compatibility-select-container select {
    width: 100% !important;
  }

  .compatibility-table {
    width: 100% !important;
  }
}

@media only screen and (min-width: 737px) and (max-width: 1023px) {
  .compatibility-select-container select {
      width: 40vw !important;
  }

  .compatibility-table {
      width: 80vw !important;
  }
}

.compatibility-select-title {
  font-size: 18px;
  font-weight: 500;
}

.compatibility-select-container select {
  border-width: 1px !important;
  border-color: #9E9E9E !important;
  border-style: solid !important;

  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;

  padding-left: 20px;
  display: flex;
  align-items: center;
  font-size: 16px;
  outline: none !important;

  display: flex;
  margin: 1.5rem 0 2rem 0;
  background-color: #1a1a1a;
  border-radius: 6px !important;
  background-image: url(/img/select.svg);
  background-repeat: no-repeat;
  background-position: right;
  color: #fff;
  height: 36px;
  background-size: auto !important;
  border-color: #ddd;
  border-radius: 6px;
  width: 220px;
}

.compatibility-select-container select:disabled {
  background-image: url(/img/signupDropdownIconDisabled.png) !important;
  color: rgba(34, 34, 34, 0.6);
}

.compatibility-select-container select:invalid {
  color: rgba(34, 34, 34, 0.6);
}

.compatibility-select-container select::-ms-expand {
  display: none;
}

.compatibility-table-section-container {
  display: flex;
}

.compatibility-table {
  width: 48.5vw;
  display: flex;
  flex-direction: column;
}

.compatibility-table-header-row {
  width: 100%;
  display: flex;
}

.compatibility-table-header {
  width: calc((100%) / 2);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #002372;
  display: flex;
}

.compatibility-table-row {
  width: 100%;
  display: flex;
}

.compatibility-table-col {
  width: calc((100%) / 2);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 20px;
  font-size: 18px;
}

.compatibility-table-header-text {
  font-size: 18px;
  color: #ffffff;
}

.compatibility-select-title {
  font-size: 18px;
  font-weight: 500;
}