.compatibility_matrix_box {
    width: 100%;
    border-radius: 12px;
    border: 2px solid #333;

    margin-bottom: 30px;
}

.compatibility_matrix_box_header {
    width: 100%;
    background: rgba(50, 50, 50, 1);
    padding: 4px 22px;
}

.compatibility_matrix_box_body {
    width: 100%;
    background: rgb(31, 31, 31);
    border-radius: 0px 0px 11px 11px;
    padding: 6px 22px;
}

.compatibility_matrix_title_one {
    color: #f5f6f7;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.compatibility_matrix_title_two {
    color: #f93;

    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.compatibility_matrix_text_one {
    color: #f5f6f7;

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.compatibility_matrix_text_two {
    color: #edeef0;
    text-align: center;

    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.compatibility_matrix_text_three {
    color: #edeef0;

    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}

.sdk_version_select_container {
    padding: 22px;
    width: 50%;
}

.sdk-selection-container {
    display: flex;
    justify-content: space-between;
}
.sdk-selection-container > div {
    display: flex;
    align-items: center;
    gap: 20px;
}

.sdk-selection-container > div > span {
    flex-shrink: 0;
    flex-grow: 1;
}

.sdk-selection-container-bottom {
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.version-pill {
    padding: 5px 7px;

    border-radius: 6px;
    border: 1px solid #323232;

    color: #edeef0;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.version-pills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 8px;
    padding: 24px;
}

.select-container {
    position: relative;
    cursor: pointer;
}

.select-container .select-action {
    display: flex;
    min-width: 140px;
    height: 30px;
    padding: 5px 4px 5px 10px;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;

    border-radius: 6px;
    border: 1px solid #363636;
    background: rgba(50, 50, 50, 1);

    color: var(--Dark-Foregrounds-fg-base, #edeef0);
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 153.846% */
}

.select-container .select-dropdown-wrapper {
    padding-top: 5px;
    border-radius: 6px;

    z-index: 5;
    position: absolute;
    width: 100%;

    max-height: 155px;
    overflow: scroll;
}

.select-container .select-dropdown-wrapper .select-dropdown {
    border-radius: 6px;
    background: #2a2a2a;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.16);
}

.select-container .select-dropdown-wrapper .select-dropdown .select-item {
    cursor: pointer;
    padding: 12px;
    color: #a4a4a4;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.select-container .select-dropdown-wrapper .select-dropdown .select-item:hover {
    background: #323232;
    width: 100%;
}

.border-radius-top-11 {
    border-radius: 11px 11px 0px 0px;
}

.shimmer {
    background: #424242;
    border-radius: 11px;
    background-image: linear-gradient(90deg, #424242 0%, #565656 50%, #424242 100%);
    background-repeat: no-repeat;
    background-size: 200px;
    display: inline-block;
    position: relative;

    animation: shimmer 1.5s infinite linear;
    -webkit-animation: shimmer 1.5s infinite linear;
}

@-webkit-keyframes shimmer {
    0% {
        background-position: -468px 0;
    }

    100% {
        background-position: 468px 0;
    }
}

@keyframes shimmer {
    0% {
        background-position: -468px 0;
    }

    100% {
        background-position: 468px 0;
    }
}

@media (max-width: 1268px) {
    .sdk-selection-container {
        flex-direction: column;
        padding: 8px 0px;
        gap: 24px;
    }

    .sdk-selection-container-bottom {
        flex-direction: column;
    }
}

@media (max-width: 996px) {
    .sdk-selection-container {
        flex-direction: row;
    }

    .sdk-selection-container-bottom {
        flex-direction: row;
    }
}

@media (max-width: 582px) {
    .sdk-selection-container {
        flex-direction: column;
    }

    .sdk-selection-container-bottom {
        flex-direction: column;
    }
}

@media (max-width: 425px) {
    .compatibility_matrix_box_body {
        padding: 6px 8px;
    }

    .sdk-selection-container > div > span {
        flex-grow: 0;
    }

    .select-container {
        flex-grow: 1;
    }

    .sdk_version_select_container {
        padding: 22px 8px;
    }

    .compatibility_matrix_box_header {
        padding: 4px 8px;
    }

    .version-pills-container {
        padding: 22px 8px;
    }

    .sdk-selection-container-bottom {
        gap: 0px;
    }
}

@media (max-width: 312px) {
    .sdk-selection-container > div {
        flex-direction: column;
        align-items: flex-start;
    }

    .select-container {
        width: 100%;
    }
}
