.compatibility_matrix_box {
    width: 100%;
    border-radius: 12px;
    border: 2px solid #333;

    margin-bottom: 30px;
}

.compatibility_matrix_box_header {
    width: 100%;
    border-radius: 11px 11px 0px 0px;
    background: rgba(50, 50, 50, 1);
    padding: 6px 22px;
}

.compatibility_matrix_box_body {
    width: 100%;
    background: #2a2a2a;
    border-radius: 0px 0px 11px 11px;
    padding: 6px 22px;
}

.compatibility_matrix_title_one {
    color: #f5f6f7;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.compatibility_matrix_title_two {
    color: #f93;

    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.compatibility_matrix_text_one {
    color: #f5f6f7;

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.compatibility_matrix_text_two {
    color: #edeef0;
    text-align: center;

    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.compatibility_matrix_text_three {
    color: #edeef0;

    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}

.sdk-selection-container {
    display: flex;
    justify-content: space-between;
}
.sdk-selection-container > div {
    display: flex;
    align-items: center;
}

.sdk-selection-container > div > span {
    flex-shrink: 0;
    flex-grow: 1;
}

.sdk-selection-container-bottom {
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.border-radius-0 {
    border-radius: none !important;
}
