[MASTER]
disable=
    C0114,
    C0304,
    C0116,
    W0311, # Bad indentation
    C0301, # Line too long
    W0511, # warning notes in code comments
    C0303, # Trailing whitespace
    W0612, # unused-variable
    C0103, # Constant name doesn't conform to UPPER_CASE naming style (invalid-name)
    R1707, # Disallow trailing comma tuple (trailing-comma-tuple)