asgiref==3.4.1
astroid==2.9.3
attrs==21.4.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.10
cryptography==35.0.0
Deprecated==1.2.13
filelock==3.4.2
h11==0.9.0
httpcore==0.11.1
httpx==0.15.5
idna==3.3
isort==5.10.1
jsonschema==3.2.0
lazy-object-proxy==1.7.1
mccabe==0.6.1
phonenumbers==8.12.0
platformdirs==2.4.1
pycparser==2.21
pycryptodome==3.10.4
PyJWT==2.0.1
pylint==2.12.2
pyrsistent==0.18.1
requests==2.27.1
requests-file==1.5.1
rfc3986==1.5.0
six==1.16.0
sniffio==1.2.0
starlette==0.14.2
supertokens-python==0.4.0
tldextract==3.1.0
toml==0.10.2
typing-extensions==3.10.0.0
urllib3==1.26.8
Werkzeug==2.0.1
wrapt==1.13.3
Flask-Cors==3.0.10
Flask==2.0.1
Fastapi==0.68.1
