anyio==3.5.0
asgiref==3.4.1
astroid==2.9.3
attrs==21.4.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.10
click==8.0.3
cryptography==35.0.0
Deprecated==1.2.13
Django==4.0.2
django-stubs==1.9.0
django-stubs-ext==0.3.1
fastapi==0.73.0
filelock==3.4.2
Flask==2.0.3
h11==0.9.0
httpcore==0.11.1
httpx==0.15.5
idna==3.3
isort==5.10.1
itsdangerous==2.0.1
Jinja2==3.0.3
jsonschema==3.2.0
lazy-object-proxy==1.7.1
MarkupSafe==2.0.1
mccabe==0.6.1
mypy==0.931
mypy-extensions==0.4.3
nodeenv==1.6.0
phonenumbers==8.12.0
platformdirs==2.4.1
pycparser==2.21
pycryptodome==3.10.4
pydantic==1.9.0
PyJWT==2.0.1
pylint==2.12.2
pyright==0.0.13
pyrsistent==0.18.1
requests==2.27.1
requests-file==1.5.1
rfc3986==1.5.0
six==1.16.0
sniffio==1.2.0
sqlparse==0.4.2
starlette==0.17.1
-e git+https://github.com/supertokens/supertokens-python.git@80cfdd598292d1a4298072d02ed11989f84df7a3#egg=supertokens_python
tldextract==3.1.0
toml==0.10.2
tomli==2.0.1
types-pytz==2021.3.5
types-PyYAML==6.0.4
typing-extensions==3.10.0.0
urllib3==1.26.8
Werkzeug==2.0.1
wrapt==1.13.3
