.toggle-grid-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 260px), 1fr));
  gap: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.toggle-grid-list__item {
  padding: 16px;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 13px;

  background: #232323;
  border: 1px solid #2e2e2e;
  border-radius: 13px;

  font-style: normal;
  font-weight: 600;
  font-size: 1.1rem;
  line-height: 1.5rem;

  margin-top: 0 !important; /* there's a rule on the .markdown class that sets margins on li. */
  cursor: pointer;
  color: #b2b2b2;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
}

.toggle-grid-list__item:hover {
  border: 1px solid rgba(255, 153, 51, 0.3);
  color: #b2b2b2 !important;
}

.toggle-grid-list__item[data-selected="true"] {
  border: 1px solid rgba(255, 153, 51, 0.3);
  color: white !important;
}

.toggle-grid-list__item-logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.toggle-grid-list__item-title {
  font-size: 16px;
}

.submit-button-container {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  margin-top: 1rem;
}

.submit-button {
  padding: 1rem;
  padding-right: 20px !important;
  border: 1px solid #cc6600;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  background-color: #ff9933;
  border-radius: 0.5rem;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;

  &:disabled {
    cursor: default;
    background: #ffbf80;
  }
}
