:root {
	--docsearch-primary-color: var(--ifm-color-primary);
	--docsearch-text-color: var(--ifm-font-color-base);
}

.DocSearch-Button {
	margin: 0;
	/*width: 300px;*/
	transition: all var(--ifm-transition-fast)
		var(--ifm-transition-timing-default);
	width: 180px;
}

.DocSearch-Container {
	z-index: calc(var(--ifm-z-index-fixed) + 1);
}
