.http-request-card-details-modal {
	&__description-text {
		p {
			margin-bottom: 0;
		}
	}
}

.http-request-card {
	&__heading-anchor {
		display: block;
		visibility: hidden;
		position: relative;
		top: -160px;
	}
}
