.content-card {
  padding: 0;

  // Remove the marings from mdx components
  // and rely on the card content logic/styling
  // for spacing
  & > * {
    margin-bottom: 0 !important;
  }
}

.content-card__section {
  & > * {
    margin-bottom: 0 !important;
  }
}
