/*@import "@radix-ui/themes/styles.css";*/
@import "@radix-ui/themes/tokens/base.css";

:root {
  --color-background: #1a1a1a;

  --orange-1: #1e1915;
  --orange-2: #251c15;
  --orange-3: #382310;
  --orange-4: #4c2400;
  --orange-5: #582c00;
  --orange-6: #663807;
  --orange-7: #7c4915;
  --orange-8: #9f5c19;
  --orange-9: #f93;
  --orange-10: #f38e23;
  --orange-11: #ffa13e;
  --orange-12: #ffdfc4;

  --orange-a1: #e7000005;
  --orange-a2: #f242000d;
  --orange-a3: #fb5d0022;
  --orange-a4: #fe480038;
  --orange-a5: #fc5c0046;
  --orange-a6: #fe740055;
  --orange-a7: #fd870f6e;
  --orange-a8: #fe8b1995;
  --orange-a9: #ff9933;
  --orange-a10: #ff9524f2;
  --orange-a11: #ffa13e;
  --orange-a12: #ffdfc4;

  --orange-contrast: #fff;
  --orange-surface: #301e1180;
  --orange-indicator: #f93;
  --orange-track: #f93;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root {
      --orange-1: oklch(21.8% 0.0119 60.28);
      --orange-2: oklch(23.5% 0.0192 60.28);
      --orange-3: oklch(27.8% 0.0452 60.28);
      --orange-4: oklch(30.8% 0.0795 60.28);
      --orange-5: oklch(34.4% 0.0867 60.28);
      --orange-6: oklch(39.2% 0.0868 60.28);
      --orange-7: oklch(45.6% 0.0946 60.28);
      --orange-8: oklch(54.2% 0.116 60.28);
      --orange-9: oklch(77.4% 0.1629 60.28);
      --orange-10: oklch(73.9% 0.1629 60.28);
      --orange-11: oklch(79.9% 0.1629 60.28);
      --orange-12: oklch(92.5% 0.0523 60.28);

      --orange-a1: color(display-p3 0.9451 0 0 / 0.014);
      --orange-a2: color(display-p3 0.9961 0.2824 0 / 0.044);
      --orange-a3: color(display-p3 1 0.4353 0 / 0.118);
      --orange-a4: color(display-p3 1 0.3412 0 / 0.197);
      --orange-a5: color(display-p3 1 0.4235 0 / 0.245);
      --orange-a6: color(display-p3 1 0.5137 0.0275 / 0.306);
      --orange-a7: color(display-p3 1 0.5843 0.1686 / 0.398);
      --orange-a8: color(display-p3 1 0.6039 0.2118 / 0.542);
      --orange-a9: color(display-p3 1 0.651 0.3059 / 0.939);
      --orange-a10: color(display-p3 1 0.6353 0.2667 / 0.887);
      --orange-a11: color(display-p3 1 0.6824 0.3412 / 0.944);
      --orange-a12: color(display-p3 0.9961 0.8941 0.7922 / 0.979);

      --orange-contrast: #fff;
      --orange-surface: color(display-p3 0.1804 0.1176 0.0706 / 0.5);
      --orange-indicator: oklch(77.4% 0.1629 60.28);
      --orange-track: oklch(77.4% 0.1629 60.28);
    }
  }
}

:root {
  --gray-1: #191a1c;
  --gray-2: #202123;
  --gray-3: #29292c;
  --gray-4: #2e2f33;
  --gray-5: #34353a;
  --gray-6: #3c3d43;
  --gray-7: #484951;
  --gray-8: #5f616b;
  --gray-9: #6d6e79;
  --gray-10: #7a7b86;
  --gray-11: #b2b3bd;
  --gray-12: #eeeef0;

  --gray-a1: #001ac403;
  --gray-a2: #a6bdeb0b;
  --gray-a3: #d1d1f515;
  --gray-a4: #d1dafe1c;
  --gray-a5: #d3dafd24;
  --gray-a6: #d7ddfe2e;
  --gray-a7: #d7dcfc3e;
  --gray-a8: #dbe1fd5b;
  --gray-a9: #e2e5ff6a;
  --gray-a10: #e4e6fd79;
  --gray-a11: #eff1ffb6;
  --gray-a12: #fcfcfeef;

  --gray-contrast: #ffffff;
  --gray-surface: rgba(0, 0, 0, 0.05);
  --gray-indicator: #6d6e79;
  --gray-track: #6d6e79;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root {
      --gray-1: oklch(21.8% 0.0042 277.7);
      --gray-2: oklch(24.8% 0.004 277.7);
      --gray-3: oklch(28.2% 0.0055 277.7);
      --gray-4: oklch(30.6% 0.0075 277.7);
      --gray-5: oklch(33% 0.0089 277.7);
      --gray-6: oklch(36.2% 0.01 277.7);
      --gray-7: oklch(40.9% 0.0121 277.7);
      --gray-8: oklch(49.5% 0.0157 277.7);
      --gray-9: oklch(54.2% 0.0167 277.7);
      --gray-10: oklch(58.7% 0.0165 277.7);
      --gray-11: oklch(77% 0.0138 277.7);
      --gray-12: oklch(94.9% 0.0026 277.7);

      --gray-a1: color(display-p3 0 0.1059 0.9765 / 0.009);
      --gray-a2: color(display-p3 0.6902 0.7882 0.9843 / 0.04);
      --gray-a3: color(display-p3 0.8471 0.8471 0.9961 / 0.079);
      --gray-a4: color(display-p3 0.8157 0.851 0.9961 / 0.11);
      --gray-a5: color(display-p3 0.8314 0.8588 1 / 0.14);
      --gray-a6: color(display-p3 0.8667 0.8863 1 / 0.175);
      --gray-a7: color(display-p3 0.8667 0.8863 1 / 0.236);
      --gray-a8: color(display-p3 0.8784 0.898 1 / 0.35);
      --gray-a9: color(display-p3 0.8941 0.9059 1 / 0.411);
      --gray-a10: color(display-p3 0.9059 0.9137 1 / 0.468);
      --gray-a11: color(display-p3 0.9412 0.949 0.9961 / 0.708);
      --gray-a12: color(display-p3 0.9882 0.9882 1 / 0.935);

      --gray-contrast: #ffffff;
      --gray-surface: color(display-p3 0 0 0 / 5%);
      --gray-indicator: oklch(54.2% 0.0167 277.7);
      --gray-track: oklch(54.2% 0.0167 277.7);
    }
  }
}

@import "@radix-ui/themes/components.css";
@import "@radix-ui/themes/utilities.css";
/*@import "@radix-ui/themes/tokens.css";*/
/**/
/*@import "@radix-ui/themes/layout/tokens.css";*/
/*@import "@radix-ui/themes/layout/components.css";*/
/*@import "@radix-ui/themes/layout/utilities.css";*/

.theme-root {
  min-height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
}
