.api-request {
}

.api-request-accordion {
  &__item-2 {
    &:hover {
      outline: 2px solid var(--gray-7);
      outline-offset: -1px;
    }

    &:first-child {
      border-top-left-radius: var(--card-border-radius);
      border-top-right-radius: var(--card-border-radius);
    }

    &:last-child {
      border-bottom-left-radius: var(--card-border-radius);
      border-bottom-right-radius: var(--card-border-radius);
    }

    &:not(:last-child) {
      border-bottom: 1px solid var(--gray-a6);
    }
  }

  &__item {
    &[data-border="true"] {
      border-bottom: 1px solid var(--gray-a6);

      &:hover {
        border-bottom-color: var(--gray-7);
      }
    }
  }

  &__trigger {
    cursor: pointer;

    &:first-child,
    &:last-child {
      padding-top: var(--space-3);
      padding-bottom: var(--space-3);
    }

    border-bottom: 1px solid var(--gray-a6);

    &:hover {
      border-bottom-color: var(--gray-7);

      .api-request-accordion__icon {
        color: var(--gray-12);
      }
    }

    &[data-border="false"] {
      border-bottom: none;
      &:hover {
        border-bottom: none;
      }
    }

    &[data-state="open"] > .api-request-accordion__icon {
      transform: rotate(0deg);
    }
  }

  &__icon {
    color: var(--gray-11);
    transform: rotate(-90deg);
    transition: transform 300ms cubic-bezier(0.87, 0, 0.13, 1);
    width: 18px;
    height: 18px;
  }

  &__content {
    // &[data-state="open"] {
    //   animation: slideDown 300ms cubic-bezier(0.87, 0, 0.13, 1);
    // }
    //
    // &[data-state="closed"] {
    //   animation: slideUp 300ms cubic-bezier(0.87, 0, 0.13, 1);
    // }

    .rt-BaseTabList,
    .rt-TabsList {
      border-radius: 0 !important;
      &::before {
        border-radius: 0 !important;
      }
    }
    .rt-TabsRoot {
      // There's an additional spacing that gets created
      // probably because of the hidden content
      margin-bottom: -15px !important;
    }
  }

  @keyframes slideDown {
    from {
      height: 0;
      opacity: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
      opacity: 1;
    }
  }

  @keyframes slideUp {
    from {
      height: var(--radix-accordion-content-height);
      opacity: 1;
    }
    to {
      opacity: 0;
      height: 0;
    }
  }
}

.api-request-parameters-card {
  &__parameter {
    &:not(:last-child) {
      border-bottom: 1px solid var(--gray-a6);
    }
  }
}

.api-request-property-example {
  cursor: pointer;
  position: relative;

  input {
    cursor: pointer;
  }

  &__hover-card {
    div {
      margin-bottom: 0;
    }
  }

  &__icon {
    position: absolute;
    display: none;
    left: -25px;
    top: 5px;
    width: 20px;
    height: 20px;
  }

  &:hover {
    .api-request-property-example__input {
      outline: 1px solid var(--gray-7);
    }

    .api-request-property-example__icon {
      display: block;
    }
  }
}

.api-request-code-snippet,
.api-request-response-preview {
  .theme-code-block {
    margin-bottom: 0;
    box-shadow: none;
    border: none;
    pre {
      border-radius: 0;
    }
    overflow-y: auto;
    max-height: 500px;
  }
}

.api-request-path-title {
  cursor: pointer;
  min-width: 0;
  flex: 1;

  code {
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__icon {
    display: none;
    width: 25px;
    height: 25px;
  }

  &:hover {
    .api-request-path-title__icon {
      display: block;
    }
  }
}

// API Request Client
.scalar-app {
  .scalar-container {
    background: var(--black-a8);
  }

  ul[role="listbox"] {
    li {
      & > div {
        margin: 0;
      }

      & > span {
        margin: 0;
      }

      &:before {
        content: none;
      }
    }

    li[class*="group/item"] {
      min-height: 30px;
    }

    div[class*="contents"][role="group"] {
      div[class*="truncate"] {
        display: none;
      }
    }
  }
  h1 {
    font-size: var(--scalar-font-size-1) !important;
    line-height: var(--scalar-line-height-1) !important;
  }

  h2 {
    font-size: var(--scalar-font-size-2) !important;
    line-height: var(--scalar-line-height-2) !important;
  }

  h3 {
    font-size: var(--scalar-font-size-3) !important;
    line-height: var(--scalar-line-height-3) !important;
  }

  h4 {
    font-size: var(--scalar-font-size-4) !important;
    line-height: var(--scalar-line-height-4) !important;
  }

  h5 {
    font-size: var(--scalar-font-size-5) !important;
    line-height: var(--scalar-line-height-5) !important;
  }

  h6 {
    font-size: var(--scalar-font-size-6) !important;
    line-height: var(--scalar-line-height-6) !important;
  }

  td {
    border-color: var(--gray-6) !important;
  }
  tr {
    border-color: var(--gray-6) !important;
  }

  button[aria-expanded="true"] {
    border-color: var(--gray-6) !important;
  }
}

:root {
  --scalar-color-1: var(--gray-12);
  --scalar-color-2: var(--gray-11);
  --scalar-color-3: var(--gray-10);
  --scalar-color-accent: var(--orange-11);
  --scalar-background-1: var(--color-background);
  --scalar-background-2: var(--gray-2);
  --scalar-background-3: var(--gray-3);
  --scalar-background-accent: var(--accent-a3);
  --scalar-border-color: var(--gray-6);
}
